[2015-03-19 21:18] hoongoon86 opened #1 "Price not changed / shown"
Hi,

I set the prices for each roles but the price is not shown on the product page.
I've tested with wordpress 4.1.1, woocommerce 2.3.7
The product was set to simple product,
I've set the regular price on General tab (also tested with leaving this part empty)
Tested roles are editor, author and contributor.
I also tried to put $ sign at the beginning but nothing works.
Perhaps I don't know how to

[2015-03-21 02:26] technofreaky commented on #1
Hi

Sorry for the delayed response. I am not well. Just returned from hospital.

I kindly request you to use older version of this plugin.
I am sure that I will fix this issue in coming day..

thanks for your our plugin and reporting the bug. we need more information about the bug. so can you please tell us.

1. WordPress Version
2. WooCommerce Version

And we are also. Working on another version

[2015-03-21 16:42] hoongoon86 commented on #1
Thank you for your support!
Previous version works well!
And I hope you get well soon.

[2015-03-21 16:42] #1 closed

[2015-04-01 18:46] mbnoimi opened #2 "[Feature request]See prices of lower roles"
Hi,

I suggest to add an option for showing lower roles prices (as a table).

Example:
* Original price 15$
* Subscriber's price 10$
* Contributor's price 9$
* Author's price 7$

When the user login as contributor he/she will see 9$ in addition to table from 15$ and 10$... and so on.

[2015-06-19 16:35] technofreaky commented on #2
Hi

Thanks for using this plugin.. And i am sorry for the delayed response. as i was ill not able to reply..
could you please explain the feature required. with some detailed view with screenshots :) :+1:

[2015-07-29 21:14] jer0dh opened #3 "Variable Price range for role-based user"
The get_price_html returns the correct html string when a user or non-user logs into the site that isn't in role-based pricing.  If I login as a user that is in a role and there are role-based regular prices on each of the variable prices, I get a $0.00 in the html string that is returned.

I noticed in your code line 151 in class-product-pricing-frontend.php, that the $prices variable does get th

[2015-09-04 10:06] marcozuccaroli opened #4 "warning on parapeters"
with the last update I get the following warning
Warning: in_array() expects parameter 2 to be array, boolean given in W:\www\coccolesonore\wp-content\plugins\woocommerce-role-based-price\includes\class-product-pricing-frontend.php on line 51

[2015-09-04 15:34] msyukri opened #5 "Error come up"
Hi,

I just upgraded the woocommrce role based price plugin from 1.3 to 2.0. However, the upgrade has ruined my website. The following error has comeup at the top of every page on my wordpress site:

Warning: in_array() expects parameter 2 to be array, boolean given in /home/stokishpai/public_html/wp-content/plugins/woocommerce-role-based-price/includes/class-product-pricing-frontend.php on line 5

[2015-09-05 02:13] technofreaky commented on #4
#5

[2015-09-05 02:13] technofreaky commented on #5
Already posted #4

[2015-09-05 02:14] technofreaky commented on #3
This issue is fixed and released in version 2.0

[2015-09-05 02:14] #3 closed

[2015-09-12 01:11] technofreaky commented on #4
issue solved in latest release

[2015-09-12 01:11] #4 closed

[2015-09-12 01:11] technofreaky commented on #5
issue solved in latest release

[2015-09-12 01:11] #5 closed

[2015-09-16 10:25] daigo75 opened #7 "Warning message in settings-plugin.php"
The warning appears in the **Plugins** tab when our Currency Switcher is active and the other plugins for which an integration exists are not active.

[code]

The issue seems to be that `WC_RBP()->get_activated_plugin()` returns a `bool` instead of an array.

[2015-09-16 12:01] technofreaky commented on #7
Hi,

Thanks for reporting this issue.in the latest version 2.4

[2015-09-16 12:06] #7 closed

[2015-09-16 12:06] daigo75 commented on #7
You're welcome. WooCommerce 2.4.x introduced many hidden changes, we had our own fair share of troubles with it.

[2015-09-17 21:20] djpollum opened #8 "No numbers after decimal"
When I put in an amount of e.g. "12,50" the price in the cart will be "12,00".
All amounts I test will have ",00" after the decimal, and not the amount that I put in.
This is for Regular as well as for Selling prices.

[2015-09-30 08:44] markusfreise commented on #8
Yeah. This bothers me too. Is there a fix for this in the near future? I like the plugin, but this is a dealbreaker.

[2015-09-30 08:53] markusfreise commented on #8
For a quick fix, until @technofreaky has resolved this, insert this into your functions.php:

function _decimal_fix_patch( $price ) {
	return str_replace(",",".",$price);
}

add_filter("woocommerce_role_based_product_price_value", "_decimal_fix_patch", 0, 1);

[2015-09-30 16:14] technofreaky commented on #8
@markusfreise really thanks for the quick fix. :+1:

this issue is fixed in latest version 2.5

[2015-09-30 16:14] #8 closed

[2015-10-01 10:03] bekatoros opened #9 "Prices with commas"
Hi, when I am showing a price for a role that has comma for example 4,40 € the price shown in 4€

[2015-10-01 11:46] bekatoros commented on #9
I ended up with a simple solution in
/admin/includes/views/popup_rbform_content.php
I used  type="number" step="0.01"  instead of  type="text" and it solved my problems.

[2015-10-03 02:50] #2 closed

[2015-10-08 01:21] technofreaky commented on #9
Hi,

Thanks for the fix.

[2015-10-08 01:21] #9 closed

[2015-11-03 16:19] asik09 opened #10 "Latest Variation Update Hides All Variation Options"
The latest update removes the ADD TO CART button from variations.
However, it also removes the product's variation options completely for visitors that are not logged in.
<img width="975" alt="screen shot 2015-11-03 at 11 24 02 am" src="https://cloud.githubusercontent.com/assets/15634735/10913782/773897d2-821d-11e5-894f-a3e02dc7c202.png">

1) Go to your website as a visitor (logged off)
2) View a

[2015-11-04 01:09] technofreaky commented on #10
@asik09 i have fixed and released a new version ***2.7.2***

[2015-11-04 10:15] diventimage opened #11 "Set price for all variation under a product"
Hello, like to have an integration on your plugin. Set price for all variation under a product with only one step and not step by step for each variable product.

So If you have a variable product you can setting price for every product with a only one function name "Append Change > Configure list prices ( Screen 1 )". In this product for user role price list you must edit step by step every varia

[2015-11-04 15:00] gbreen opened #12 "Shortcode Modification"
It would be great to be able to use the short code without needing the product ID. Automatically get the product id when its in product loop. The the short code can be [wc_rbp price='product_regular_price'] without needing the product id.

[2015-11-04 16:51] vizulatedev opened #13 "All Import - importing Role Based Prices for variable products"
The section where role based price import is setup is below the section where the other WooCommerce settings are configured. This works fine for simple products but there does not appear to be an option to assign a role based price for each imported variation.

Ideally this would work with the 'importing variable products from XML' functionality (see video on this page http://www.wpallimport.com/d

[2015-11-05 03:33] technofreaky commented on #13
@vizulatedev

Wp-All-Import Template File : https://drive.google.com/open?id=0B91EaKNSXj-pOHVXU2xQMnhzU3M

Import CSV Template : https://drive.google.com/open?id=0B91EaKNSXj-pbGpGV1V1a2RYVms

[2015-11-05 03:34] #10 closed

[2015-11-05 12:01] vizulatedev opened #14 "Display of Role Based Price in Variable Products"
Setting only a regular role based price works fine for simple products but with variable products the Role Based price is shown crossed out as the regular price would be if a sale price had been set and the regular default price is shown next to it. The role based price is correctly picked up in the cart but I would expect just the role based price to be shown, as it is in simple products.

Attach

[2015-11-05 13:19] technofreaky commented on #14
@vizulatedev

i if you enter regular price & selling price for a user role. it will show like this. but the selling price should not be greater than regular price.

i think i got your point and answered

[2015-11-05 13:24] vizulatedev commented on #14
There was no selling price just the regular price

[2015-11-05 13:26] technofreaky commented on #14
@vizulatedev can i please get a screen shot please

[2015-11-05 13:27] vizulatedev commented on #14
This is how the Variation Role Based price was set

![varible_product_regular_price](https://cloud.githubusercontent.com/assets/15635729/10969539/ee0b0954-83c0-11e5-8113-1ad96508e693.png)

[2015-11-05 13:28] technofreaky commented on #14
@vizulatedev  from where 46.32 my plugin got it. from product base price (Selling / Regular Price)

[2015-11-05 13:31] vizulatedev commented on #14
Default Regular price was set for each variation.
![default_regular_price](https://cloud.githubusercontent.com/assets/15635729/10969586/4b4ba326-83c1-11e5-822b-b62b1b551d91.png)

[2015-11-05 13:32] technofreaky commented on #14
@vizulatedev  . thanks for reporting the issue. sure will fix it as soon as possible

[2015-11-07 14:18] technofreaky opened #15 "Persian translation"
Translation Done By : ‪milad jef‬ ‪
Date of Translation : 2015-11-04 09:36

File : https://www.dropbox.com/s/oz0pn68qf0gwcx9/lang.zip?dl=0

[2015-11-08 09:21] technofreaky commented on #14
Issue Fixed and released in version 2.8

[2015-11-08 09:21] #14 closed

[2015-11-08 09:21] technofreaky commented on #12
Issue Fixed and released in version 2.8

[2015-11-08 09:21] #12 closed

[2015-11-08 09:21] technofreaky commented on #11
Issue Fixed and released in version 2.8

[2015-11-08 09:21] #11 closed

[2015-11-08 09:22] technofreaky commented on #15
Updated and released in version 2.8

[2015-11-08 13:56] miladjef commented on #15
hello
I'm really sorry that I could not be more quickly translate plugin
Hopefully in the next version it does not occur
Translation of version 2.8  here
https://www.dropbox.com/s/wtmhiee67awlv6j/lang%20.zip?dl=0

[2015-11-08 14:00] technofreaky commented on #15
@miladjef thanks for the update. will update and get back to you

[2015-11-08 14:54] technofreaky commented on #15
@miladjef i have updated it and released in version 2.8.1

[2015-11-08 14:54] #15 closed

[2015-11-09 10:51] akatarov opened #16 "WP All import price problem - don't show me the price"
Hi.
I use your plugin last version but I don't see regular/sale price in front end. I have entered in product page for user Administrator but don't see any changes.
Please advise to me with any solutions...

**Plugin Version** : 2.8.1

[2015-11-09 10:53] technofreaky commented on #16
@akatarov can you please tell me which version are you using 2.8 / 2.8.1

[2015-11-09 10:54] akatarov commented on #16
2.8.1

[2015-11-09 10:54] technofreaky commented on #16
@akatarov can you please join us here ?
https://www.hipchat.com/gPPUVX4w3

[2015-11-09 10:54] akatarov commented on #16
Sure

[2015-11-09 11:04] akatarov commented on #16
Sale price don't show in store per user

[2015-11-09 12:53] akatarov commented on #16
Thanks. With version 2.8.2 you fix this problem.

[2015-11-09 12:53] #16 closed

[2015-11-12 15:20] technofreaky opened #17 "Variation pricing not showing properly"
I'm using the plugin to set up a B2B channel in the shop. Currently I'm having some difficulties showing the proper role prices for variations.

After setting the proper prices to each variation, the category page seems fine. Showing both different prices. However, on the product the same price is shown for both variations. This is where it goes wrong.

Adding the more expensive variation to the c

[2015-11-12 22:59] asik09 commented on #10
Thank you for all your help, Varun.

I really appreciate it.

Alex

[2015-11-17 05:12] #17 closed

[2015-11-17 05:13] #13 closed

[2015-11-23 10:20] technofreaky opened #18 "Error : Message For Price ( Hide Price)"
Custom Price Hide Message showing even if field is empty in admin area :(

[2015-12-01 10:28] HuGoSm1th opened #19 "Currency options not available when in wp-all-import template"
When creating new or editing existing wp-all-import bulk product  import template Aelia Currencies options not available, but works if edit single product.

[2015-12-01 10:31] HuGoSm1th opened #20 "Products in currencies come up with wrong prices"
Products in currencies other than base currency show up wrong, my guess is that those prices are exchange rate calculated instead of ones that are saved on product with Role Based Price plugin.

[2016-01-08 03:13] technofreaky commented on #20
Fixed IN Latest Version

[2016-01-08 03:13] #20 closed

[2016-01-08 03:13] technofreaky commented on #19
Fixed in Latest Version

[2016-01-08 03:13] #19 closed

[2016-01-09 09:46] Jan-C-A opened #22 "upgrade from 2.8.4 to 2.8.7 on WP4.4 breaks prices"
Hi
I'm running WP 4.4 and WooCommerce 2.4.12
After upgrading plugins the other day, suddenly most of my products was listed for FREE and the Price in the cart was 0.00.
I rolled back to backup a few days previously. I couldn't reproduce the FREE label on the products but I can reproduce the 0.00 Price totals in cart. Whenever I update WooCommerce-Role-BAsed-Price from 2.8.4 to 2.8.7 the Price tota

[2016-01-09 11:33] technofreaky commented on #22
@Jan-C-A

Can you please download the latest version from github and check for the same issue ?

[2016-01-20 07:37] BernardMyburgh commented on #22
I had the same issue with prices being FREE all of a sudden for no reason, had to downgrade to previous version, it didnt fix the issue, had to update every price individually. There should be a refresh all prices button maybe? Bulk edit all prices so I don't have to do it one by one?

[2016-01-20 07:38] BernardMyburgh opened #23 "Hiding Prices / Add to Cart Button not working"
Hiding prices works (For logged out user).
Hiding add to cart button doesn't work (For logged out user).
If you add the product to cart when prices are hidden, it reveals the price in the cart (For logged out user).

Is anyone else having this issue? How do I solve it?

[2016-01-20 21:35] BernardMyburgh opened #24 "Variation pricing not displaying properly"
I saw this issue was fixed in version 2.8.3, and I have version 2.8.7. But as per screen shot below, when logging in as "Distributor", instead of showing R180, it shows R180 crossed out with R0 value. When I add it to the cart, it is added for the correct amount of R180. So all my variation products are showing R0 value. The rest is fine.

If it helps, I am also using a plugin called "User Role Ed

[2016-01-21 12:47] Jan-C-A commented on #22
Hi

For me all prices where shown correctly in admin interface, only on webshop most products was free, so I figured that it might be a problem with some kind of view in wp.
I agree that it would be cool to have a sort of spreadsheet display of prices in admin interface, so you get an overview and quickly can edit prices. Maybe one spreadsheet tab pr userrole with prices for all products.

Sendt f

[2016-01-21 15:23] technofreaky commented on #22
@BernardMyburgh
You are just diverting this issue with another issue :( because current is releated to products showing free when upgraded to latest version. but you are telling that products price are showing for free when updating with wpallimport or some importer. please create a separate issue

@Jan-C-A
Please just confirm me. if the source in github works prefect ??
i know that source from wp

[2016-01-22 08:32] technofreaky commented on #23
@BernardMyburgh
if you select hide price for loggedout users it hides only in product view. not in the cart.
if you need you can disable add to cart by hiding add to cart button from our plugin

[2016-01-22 08:32] technofreaky commented on #24
@BernardMyburgh Please download the latest source from github and please check for the same issue. as i have updated with some fix in github

[2016-01-22 08:35] BernardMyburgh commented on #23
Thank you for your response. Point 2 on my list is "Hiding add to cart button doesn't work", so I'm saying that trying to hide the add to cart button does not work for me. I will try latest code and see.

[2016-01-22 08:40] technofreaky commented on #23
@BernardMyburgh It works for me.
can you please tell me what option did you choose in the blow

[2016-01-22 11:04] BernardMyburgh commented on #22
Sorry I didn't mean to divert the issue. I had the same issue as this guy Jan-C-A, products showing as free after update, and I solved it by updating each product one by one. So I am posting a solution to his problem, i.e. open product, click add/edit user roles, switch it off, save, switch it on, save, update product. This made my prices go back to normal again.

My suggestion or possible solutio

[2016-01-22 15:44] technofreaky commented on #22
@BernardMyburgh

I checked in my local. i really cant replicate the issue. and there is no need of using a refresh prices button

[2016-01-30 11:06] BernardMyburgh opened #25 "Upload VIA "CSV Import Suite" switches role based price OFF"
So I export all products to bulk edit them. For example, I delete all columns but except:
"sku" and "meta:_enable_role_based_price". When you upload the sheet, with "meta:_enable_role_based_price" set to TRUE, then all products get updated, but every single one has "Enable Role Based Pricing" button switched to OFF when you edit the product in the back end and the front end is obviously not showin

[2016-01-30 11:07] BernardMyburgh commented on #24
I think this is working fine now.

[2016-01-30 11:07] #24 closed

[2016-01-30 11:28] technofreaky commented on #25
@BernardMyburgh can you please give me the sample CSV to check for the same issue here ?

[2016-01-30 11:33] BernardMyburgh commented on #25
Hi sorry, I managed to fix the problem. When you download / export product data with CSV Import Suite, the field "meta:_enable_role_based_price" has contents "TRUE", but really it should be in small letters "true". Then it works. If the DB has it in capital letters, then the plugin doesn't work and thinks the enable role based price is switched off.

My quick fix was to update my database via phpm

[2016-01-30 11:33] #25 closed

[2016-02-13 18:49] Jan-C-A opened #26 "upgrade from 2.8.4 to 2.8.8 on WP4.4 disables cart"
When I upgraded to 2.8.8 my cart on running session was emptied and it was no longer possible to add any itms to cart. So I renamed woocommerce-role-based-price folder and restored old 2.8.4 folder from backup

[2016-02-13 18:52] Jan-C-A commented on #22
I Just tried ver 2.8.8 and the result was that Cart was emptied and items could no longer be added to cart. The 'add to cart' button simply disappeared

[2016-02-16 19:35] anthonywkchan opened #27 "Manual order entry pricing"
Hi,

When entering a manual order via the WP backend, the price does not reflect the customer's role based pricing. I've first selected the customer, and even saved the order, but the pricing is still that of a normal user and does not take into account the customer's role.

[2016-02-17 02:13] technofreaky commented on #27
@anthonywkchan

currently Role Based Pricing works only in front end. not in backend.
if you need please contact me directly

[2016-02-17 13:28] technofreaky opened #28 "Feature List For new version"
Dear All,

I am just totally reworking one WooCommerce Role Based Price plugin.. from bottom.. to make it as a prefect and speedy.

so i kindly request you all to list all the new features required for the brand new version..

If you list it out here i  will add this in the main comment here like below
- [ ] Feature 1

[2016-02-17 13:45] cdahlhausen commented on #28
Showing role based price as well as non-logged-in/visitor price. If you have a page with membership, this can give non-members an incentive to become paying members to get a better price.

The current version does only allow to hide role based prices from certain roles.

[2016-02-24 13:03] beezwings opened #29 "Copy existing role prices to new role"
It would be great if there was a way to copy prices from one role to another role, in the case that a new role is added and their prices points are always the same as an existing role.

My scenario:

I have been using the plugin for some time already. I have now added a new role, "consignment" (because that role gets a special payment gateway). However, I would like that their pricing is the same

[2016-02-24 13:04] beezwings commented on #28
# Copy existing role prices to new role

It would be great if there was a way to copy prices from one role to another role, in the case that a new role is added and their prices points are always the same as an existing role.

My scenario:

I have been using the plugin for some time already. I have now added a new role, "consignment" (because that role gets a special payment gateway). However, I w

[2016-03-05 13:00] technofreaky commented on #28
@cdahlhausen

Can you please explain a bit on what you are trying to say ?

[2016-03-07 14:43] HuGoSm1th opened #30 "WCRBP V3.0.1 Alpha"
experiencing Javascript error on General options tab

http://prntscr.com/acaznw

[2016-03-15 11:32] cdahlhausen commented on #28
My scenario as follows:
Several products that have a particular price (let's say $25) that is for non-members (people that are not paying members in a club, but just visitors). If a person is a club member they have a login to the shop. Once they login they see all prices including a member discount (lets say $20). Now it would be great to be able to show both prices at the same time all the time

[2016-03-15 11:36] technofreaky commented on #28
@cdahlhausen
You mean you just want to list price like in this image ?
http://prntscr.com/afi3br

[2016-03-15 13:03] cdahlhausen commented on #28
Yes, but I'd like to have the price shown in the main shop page. Like this: http://prntscr.com/afj165

[2016-03-15 13:22] technofreaky commented on #28
@cdahlhausen .ok let me think and update you here

[2016-03-16 03:44] Silventar opened #31 "Role Based Price Bulk Edit does nothing"
On the product Edit Page in Woocommerce, when choosing Variable Product, Role Based Price Bulk Edit does nothing when selected. It is PAINFULL to have to go into every variation of every product to change role prices.

[2016-03-16 03:57] technofreaky commented on #31
@Silventar
Hi,

Current version in wp.org has some issue in bulk edit..

i am working on a brand new version of the same plugin. which will be released soon in days. i will fix that issue and release it :)

[2016-03-16 04:28] Silventar commented on #31
Awesome! I would LOVE to test it for you. :-)

Be well,
Andrew Robertson
On Mar 15, 2016 8:57 PM, "Varun Sridharan" <notifications@github.com> wrote:

[2016-03-16 04:32] technofreaky commented on #31
Hi,

Thanks. you can download the beta version from here for testing

[2016-03-16 04:36] Silventar commented on #31
I am brand new to github, so I might nit grt to it in time...but I will
try. :-)

Be well,
Andrew Robertson
On Mar 15, 2016 9:32 PM, "Varun Sridharan" <notifications@github.com> wrote:

[2016-03-16 04:38] technofreaky commented on #31
@Silventar

Download is simple just by clicking the link below
https://github.com/technofreaky/WooCommerce-Role-Based-Price/archive/master.zip

Sure take your time. :)

[2016-03-16 04:48] Silventar commented on #31
That was easy...lol!

I installed it and tested...the bulk menu item is completely missing
now...same issue: have to enable and edit each varuation of each product.

Be well,
Andrew Robertson
On Mar 15, 2016 9:38 PM, "Varun Sridharan" <notifications@github.com> wrote:

[2016-03-16 07:57] technofreaky commented on #31
@Silventar

As already told that i am working on it.. i dint say i finished it :anguished: .. i will work on it and update you here

[2016-03-16 13:49] Silventar commented on #31
Ah! I am sorry, I missed that. Was a late night last night, aparently.
Anyhow, I am going to make a donation via the plugins donate link in a
couple days as soon as some money clears, unless there is a better way. ;-)

Be well,
Andrew Robertson
On Mar 16, 2016 12:57 AM, "Varun Sridharan" <notifications@github.com>
wrote:

[2016-03-16 13:57] technofreaky commented on #31
@Silventar Thanks :)

[2016-03-18 14:41] umerattiq opened #32 "price is not update in to cart total with product addon"
Hi i am using WooCommerce-Role-Based-Price with woo commerce product addon but price is not update in to cart total with product addon

[2016-03-18 14:44] technofreaky commented on #32
@FacetTech I think WC RBP dose not work with Product Addons.

[2016-03-18 15:02] FacetTech commented on #32
ok thanks, can you have any idea how can i get role base pricing when i used product add on for price variation

[2016-03-18 15:03] technofreaky commented on #32
@FacetTech Kindly contact me directly for integrating the product addons with WC RBP

[2016-03-18 15:04] FacetTech commented on #32
ok give me your email

[2016-03-18 15:05] technofreaky commented on #32
@FacetTech
Its varunsridharan23@gmail.com

[2016-03-18 15:22] FacetTech commented on #32
i have send you email and waiting

[2016-03-28 12:48] HuGoSm1th opened #33 "WCRBP V3.0.2 Alpha striped out prices"
Unnecessary striped out prices when in currency mode.

![screenshot_1](https://cloud.githubusercontent.com/assets/12049790/14078190/9f093712-f4eb-11e5-9e01-e1a245ee5860.png)

[2016-03-28 13:05] #33 closed

[2016-03-30 16:44] HuGoSm1th opened #34 "WCRBP V3.0.1 Alpha - Currency prices"
RBP does not show saved price as priority
![screenshot_5](https://cloud.githubusercontent.com/assets/12049790/14149861/2239dfde-f69e-11e5-8ac9-82ba28860d5e.png)
![screenshot_6](https://cloud.githubusercontent.com/assets/12049790/14149959/9ad21308-f69e-11e5-8f72-52aa9a696033.png)
![screenshot_7](https://cloud.githubusercontent.com/assets/12049790/14149963/9fa44b12-f69e-11e5-8ae4-575b0f6f06da.png)
!

[2016-04-11 08:41] garak734 opened #35 "PHP Notice: Undefined index: HTTP_USER_AGENT in woocommerce-role-based-price.php on line 112"
System doesn't check whether $SERVER['HTTP_USER_AGENT'] exists.

Need to add
    if(empty($_SERVER['HTTP_USER_AGENT'])) {
            return false;
        }
before line 112.

[2016-04-11 08:45] technofreaky commented on #35
@garak734 sorry i dint get you ??? For what you need to add this ?

[2016-04-11 21:16] garak734 commented on #35
Hi,

The debug.log file in wp-content contains entries that have the messsage:

PHP Notice: Undefined index: HTTP_USER_AGENT in woocommerce-role-based-price.php on line 112

This is in the function is_request:

    public function is_request( $type ) {
        $is_ajax = defined('DOING_AJAX') && DOING_AJAX;
        switch ( $type ) {
            case 'admin' :
                return ( is_admin() &

[2016-04-15 06:55] jdev-d commented on #31
Any updates gentlemen?

[2016-04-15 08:06] technofreaky commented on #31
@jdev-d
Hi,
I am still working on it..
i will sure notify here. when i finish it

[2016-05-08 19:51] ebizman opened #36 "Users with multiple roles & default pricing"
Hello Varun,

I have a user with multiple roles in WooCommerce (the normal "Customer" role and a "Licensee" role) and I am trying to allow the user that also has the "Licensee" role to receive a discount on a specific product, but normal pricing on the rest of the products (as the "Customer" role would receive).

Is there a way to apply the discounts/special pricing just for those users that also

[2016-05-14 14:00] ebizman commented on #36
Any update on this issue?

[2016-05-23 10:33] thorge opened #37 "[sale_products] woocommerce shortcode"
Do you plan to include role-based sale prices to show up in sale_products overview, rendered by woocommerce's [sale_products] shortcode?
For now, only products that have a value at the normal product sale price field show up.
Good plugin though, thanks for sharing!

[2016-05-23 10:35] technofreaky commented on #37
@thorge Sorry i dint get you.. can you explain a bit

[2016-05-23 10:45] thorge commented on #37
For sure :) When using the woocommerce registered "[sale_products]" shortcode on a normal wordpress page it shows all products that have a sale price defined, but it's missing products that have a role-based sale price defined by your plugin.

[2016-05-23 10:58] technofreaky commented on #37
@thorge Ok
 thanks i will mark it as feature request..

[2016-05-28 15:46] shackbill opened #38 "Remove Currency Symbol during WP All Import"
(also on Trello)
Currency symbols in the price data prevents the cart from adding and accumulating cost. Many companies format their spreadsheets with currency symbols for readability but when the data is imported, it causes a problem with WooCommerce. WP All Import has this option for the regular import but the option does not apply to RBP Prices (See attachments)

**This image shows the preview

[2016-06-01 09:33] akatarov007 opened #39 "WooCommerce-Role-Based-Price not compatible with YITH DYNAMIC PRICING AND DISCOUNTS"
Hi there,
can you do something to make your plugin compatible with YITH DYNAMIC PRICING AND DISCOUNTS?

Thanks,
ANGELIS

[2016-06-12 09:14] Kylejustknows opened #40 "June 2016 alpha version test report."
Regarding the update on 2x may 2016, few issues noticed.

-latest wc and wp-
In the new bp field, save button not working;
user-roles name and price input sections mis-aligned.

-suggestion-
It would be really great if you can add the field into "Quick Edit" section. It helps the shops who have lots of products and adjust prices frequently. (the manager doesn't need to get in the edit page one by

[2016-06-12 09:25] technofreaky commented on #40
@Kylejustknows
Thanks for reporting issues. is it possible can you provide me some screenshots ?

[2016-06-14 04:13] Kylejustknows commented on #40
Oh sorry varun not easy for me to get back on the production environment to get the screenshot.

The mis-aligned of the price field is like:

vip
friend
visitor
importor
wholesale
[] []
[] []
[] []
[] []
[] []

instead of :
vip [] []
visitor [] []
etc..  wish you know what I mean.

The "Save" button not doing anything its like, no response no error when click on it.

I think instead of pulling the

[2016-06-14 04:19] technofreaky commented on #40
@Kylejustknows

Right now we have the metabox option instead of POPUP view. can please download the Github version again and check ?

[2016-06-19 18:09] Kylejustknows commented on #40
Hey Sorry for the late. Tested again today 19 Jun 2016. Nothing different from last version though...

The main issue is the "Save Price" button not doing any job. I tried multiple times. Once I update or refresh the edit post(product), the earlier old price will come back. The new numbers will never be saved.

![scsht](https://cloud.githubusercontent.com/assets/14979096/16178886/59b9d1e6-3698-11e

[2016-06-26 11:36] technofreaky commented on #40
@Kylejustknows
Really sorry for the delay.

Can you please download the latest version and check ..  even after this its not working.
Can you please contact me via email and send me wp admin login to check for the issue.

[2016-06-26 11:40] technofreaky commented on #36
@ebizman
I am really sorry for the delay.

right now its not possible but let me check if that can be done. and get back to you asap

[2016-07-13 21:22] CartridgeWorld opened #41 "Hiding Pricing"
Hello,

I'm trying to figure out how to make it only show 1 price instead of the new price with the old on grayed out with a line thru it.

![image](https://cloud.githubusercontent.com/assets/20447170/16820298/f8f84532-4915-11e6-90ce-2e2aa6ca58e9.png)

[2016-07-20 15:53] ResDevAccount opened #42 "Does no show on Shop Page"
If shop page shows prices, it shows the original price untouched by the role settings.

[2016-07-20 15:58] HuGoSm1th commented on #42
Must be misconfiguration somewhere, happen all the time.

[2016-07-20 16:00] RadiatorDigital commented on #42
Happen to know the most common ones? I'll look into it, thanks.

[2016-07-20 16:07] HuGoSm1th commented on #42
Sale - Regular price settings wrong
User role not enabled in settings
Checking prices for rolle "X" with "Administrator" role

[2016-07-20 16:32] RadiatorDigital commented on #42
Checked with a test product,  No sale price and regular price set as normal
User Role was enabled
Logged in as correct user and user type - still only appeared in product view and not shop.

Both templates use the same code. $product->get_price_html()

[2016-07-20 16:35] HuGoSm1th commented on #42
Are you caching website? if yes, then I would suggest to disable it for logged in users on archive pages.
I am not 100% sure but I think that could be the problem here.

[2016-07-22 16:07] dizzyza opened #43 "Role based price not updating with cron job from wp all import"
We have a cron job that runs every 5 minutes to update all prices. but the role based prices are not updating if it's a cron job. if i run the import directly it updates with no problem. Is this a security feature maybe ?

Taken from : https://wordpress.org/support/topic/role-based-price-not-updating-with-cron-job-from-wp-all-import?replies=6

[2016-07-25 16:13] RadiatorDigital commented on #42
No Cache is in place as it is disabled.
Is there an example of a site where it works on the shop page?

[2016-07-26 08:17] HuGoSm1th commented on #42
Yes, but I can't post details for it here. Please send me your details to email in my account.

[2016-07-27 04:35] mykahome opened #44 "Prices Not Displaying"
Hello Team,

After using the feature for role based pricing, none of the prices are being displayed. Please help in resolving the same ASAP.

Thanks.
Regards,
Myka Home

[2016-07-27 04:36] technofreaky commented on #44
@mykahome

Can you please provide us some more info?

which version of WC RBP are you using and where did u download from ?

and what kind of issue are you facing

[2016-07-27 04:45] technofreaky commented on #43
@dizzyza

Right now our plugin dose not support CronJob.

[2016-07-27 04:49] mykahome commented on #44
Hello @technofreaky!

Appreciate your quick response. We are using the latest Version 2.8.8 and was downloaded via Wordpress website only. On updating the prices using "Edit Role Based Pricing" from edit product page, updated roles specific price is not reflecting. It is still showing the regular price only.

Please advice.

[2016-07-27 06:17] mykahome commented on #44
Let us know once you have the solution for same.

[2016-07-29 17:39] Creades opened #45 "After updating WooCommerce -> Plugin does not work properly"
Hello,

After updating WooCommerce... the plugin " woocommerce role based price" does not work properly.
Everyone sees " Sorry, this product is not available . Please choose another combination." This is in each product.
![prt01](https://cloud.githubusercontent.com/assets/20729001/17257761/d717df08-55c3-11e6-8adf-4d4f99d2f7c8.png)

Thanks in advance.
Jordy

[2016-07-30 15:19] Bmiesse opened #46 "This content failed to load."
Error: This content failed to load.

Any Ideas on why i would be getting this error?

[2016-07-30 15:36] technofreaky commented on #46
? From where this error comes from ?

[2016-07-30 16:39] Bmiesse commented on #46
The error is at the product level when your changing the price on a single product!

Brent Miesse

[2016-08-01 14:54] Bmiesse commented on #46
<img width="1351" alt="rolepricing error" src="https://cloud.githubusercontent.com/assets/20741878/17298017/3e3865e0-57d6-11e6-9158-aaef923467d9.PNG">

[2016-08-01 14:54] Bmiesse commented on #46
this is on all product level pages after clicking the add/edit role pricing button.

[2016-08-01 15:14] technofreaky commented on #46
@Bmiesse Which version are you using ?

[2016-08-01 15:22] Bmiesse commented on #46
Wordpress Version 4.5.3

[2016-08-01 15:23] technofreaky commented on #46
@Bmiesse  Not that i am asking about WC RBP Plugin version..........

[2016-08-01 15:26] Bmiesse commented on #46
Role based pricing is Version 2.8.8

[2016-08-01 15:27] technofreaky commented on #46
@Bmiesse
ok. may be some issues with ajax request.

Can you try our beta version. ?

Download from here.

[2016-08-01 15:31] Bmiesse commented on #46
I can try that but will it get rid of all the prices I have already completed prior to the error?

[2016-08-01 15:32] technofreaky commented on #46
@Bmiesse

Product price will not be deleted. it will me auto migrated.
But you need to update the plugin settings once

[2016-08-17 05:53] Kylejustknows commented on #40
Everything works now 100%. Sorry I forgot to check back for a while!
Made a small donation to the plugin, spend on beers bro! You are the champion!!

[2016-08-17 05:54] technofreaky commented on #40
@Kylejustknows  Thanks :)

[2016-08-17 05:54] #40 closed

[2016-10-04 14:10] mquintas opened #47 "Minor issue on translation"
Hi, first of all, your plug in is excellent. Great work.

I was doing some translation to spanish, and there a string that fails the translation because is missing the namespace (minor issue)

in class-metabox.php line 70
replace this
`$head = '<span class="headTxt">'.__("WC Product Price : ").' </span>'.$price;`

with this
`$head = '<span class="headTxt">'.__("WC Product Price : ", WC_RBP_TXT).'

[2016-10-06 13:14] lagunary commented on #36
Do you have any update about it?
I need this solution so hard...
Thanks for answer.

[2016-10-06 13:43] technofreaky commented on #36
@lagunary  sorry there is no still an update to this. but if you need it urgent then you can contact me via my email : varunsridharan23@gmail.com

[2016-10-12 01:45] #47 closed

[2016-10-12 05:20] jvcl opened #49 "Price Filtering widget"
Hi,

Does the plugin work with the WooCommerce Price widget.
I am using version Version 2.8.8, Woo 2.6.4

When I add the widget to the shop category sidebar the price filter doesn't show up.

Thanks

[2016-10-12 05:21] technofreaky commented on #49
@jvcl

If its in default woocommerce then it should work.

if you face any issues let me know.

[2016-10-13 00:21] jvcl commented on #49
Hello,

I tried the WooCommerce Storefront theme and the widget still doesn't show up. I have tried to debug it. If you look the "class-wc-widget-price-filter.php" [look source here, line 72](https://github.com/woocommerce/woocommerce/blob/master/includes/widgets/class-wc-widget-price-filter.php#L72)

[code]
In my case the above code the $min and the $max are , so the widget returns. It seems [the

[2016-11-22 14:49] cyrilst opened #50 "Problem with tax on variable products"
Hello, I use the 3.0 version of this plugin, and I love it. I just have an annoying problem.

I enter all the products in my store without tax. If I display the products without tax, there is no problem. But if I display the products with tax, then things go wrong :

Tax is set to 20%.

case 1 : The extension is activated, but Role Based Pricing is disabled on this product. This variable product c

[2016-11-22 15:26] HuGoSm1th commented on #50
Hi @cyrilst,

I have working wholesale website with RBP 3.0 and prices displayed without TAX and it is added automatically at checkout to regions where it is applicable. I have not had any problems with this.

RBP has nothing to do with the TAX, must be some sort of misconfiguration in WooCommerce or some other plugin that does something with the TAX.

I can help you sort this problem, just let me

[2016-11-22 16:36] cyrilst commented on #50
Hello @HuGoSm1th,
yes, there is no problem when you display prices without TAX. But if you display prices with TAX, then there are the bugs I described (there is no bug in the cart, only when displaying the product or categories).

I checked `includes/class-product-pricing.php` in the plugin, and lines 231-237 are related to TAX. I tried forcing the use of `$product->get_price_excluding_tax` inste

[2016-11-29 11:12] cyrilst commented on #50
Hello,

I made a test website with latest version of wordpress, latest version of woocommerce, and master version of rbp. You can see a test product there : http://labs.unified-av.com/produit/test-product-1/

In woocommerce -> settings -> tax, I checked this :
- I enter prices without tax
- prices are displayed with tax in the shop
- prices are displayed with tax in the cart

The product is a vari

[2016-11-30 04:49] mathieurobat opened #51 "Price is not showing on Variations (single page product)"
Hi,
I've got a problem with the Price and my variations.
I created a product with some variations.
If I enable the Role based on all variations with prices (regular and selling), prices are not showing on page (single product page) but if I disable one of them prices are showing.
I checked the "data-product_variations" on the form and I can see that "price_html" is empty when RBP is enabled on all

[2016-12-01 01:47] mathieurobat commented on #51
It's fixed, I just added:
add_filter('woocommerce_show_variation_price',      function() { return TRUE;});
I didn't know that by default it's false
to my theme.
Sorry for that, plugin works good.

[2016-12-02 01:35] scotta opened #52 "Cumulative discounts with dynamic-pricing not working"
Hi

I'm using both your role based pricing and https://woocommerce.com/products/dynamic-pricing/. When a role based price is triggered the bulk discounts configured in dynamic pricing are not triggered. Is there a way to cumulatively apply the discounts? I've enabled cumulative pricing in dynamic pricing and wondered if there was something I had to do with the role based pricing module.

I'm happy

[2016-12-02 01:36] technofreaky commented on #52
@scotta right now we dont have an integration with Dynamic Pricing. if you would like to have an integration please do contact me via email : varunsridharan23@gmail.com

[2016-12-02 01:36] #52 closed

[2016-12-02 01:43] technofreaky commented on #50
@cyrilst hi
i am the developer for WC RBP.

are you sure you are using V 3.0 ?? and yes if you would like to provide us the access it would be nice to check

my email : varunsridharan23@gmail.com

[2016-12-02 01:44] technofreaky commented on #49
@jvcl  are you still facing this issue ?

[2016-12-02 01:45] technofreaky commented on #39
@akatarov007  sorry for the delay. right now our plugin dose not work with YITH DYNAMIC Pricing.

[2016-12-02 09:25] cyrilst commented on #50
Hello, thanks for your help. I just sent you an email.

[2016-12-02 10:27] jurjens opened #53 "On ajax refresh the price role-based price is ignored again"
The plugin works quite allright, and displays the role-based price all over the website. Until I get to the checkout page; at page load I see the correct prices, but two ajax calls are being fired right away; `woocommerce_get_refreshed_fragments` and `woocommerce_update_order_review`. The returned cart fragments (`div.widget_shopping_cart_content` and `.woocommerce-checkout-review-order-table`) bo

[2016-12-05 10:22] jurjens commented on #53
I found the problem, and a solution.

The problem is that the part that recalculates the prices is only initizialized on the frontend;

`/wp-content/plugins/woocommerce-role-based-price/woocommerce-role-passed-price.php` - line 133-135
[code]

But, every ajax requests is handled as an admin request by wordpress. Which is annoying, but we'll have to deal with that. So whenever snippets with prices

[2016-12-06 11:43] technofreaky commented on #53
hi

ok thanks for the fix. i will look into it and fix it.

[2016-12-06 11:43] #53 closed

[2016-12-06 11:43] #51 closed

[2016-12-08 15:45] cyrilst commented on #50
Hello @HuGoSm1th and @technofreaky
I finally figured it out, the fix is quite easy:

<pre>diff class-product-pricing.php.old class-product-pricing.php
241a242,248

If you look at the file, it's just a copy of the lines 231-237. The reason is simple: taxes were managed for the "Main price", but not for the "Sale price". With this fix, everything works like a charm :)

Can you please review it, and

[2016-12-09 13:10] cyrilst commented on #50
Now here is a better patch:
<pre>229c229
<                 $prices = array($product->get_variation_price('min', true), $product->get_variation_price('max', true));
---

241c241,248
<                 $prices = array($product->get_variation_regular_price('min',true), $product->get_variation_regular_price('max',true));
---

I applied it on http://labs.unified-av.com/boutique/ and verified every price

[2016-12-14 13:58] cyrilst opened #54 "CSS id containing spaces"
Hello,

I just found a really small bug in v3: `WC_RBP_NAME` is used in `wp_enqueue_style`, so the "id" of the "link" markup contains spaces, which is not authorized in HTML. The simple fix is to replace it with `WC_RBP_SLUG`:

<pre>
diff old/includes/class-frontend.php new/includes/class-frontend.php
46c46
< 		wp_enqueue_style(WC_RBP_NAME.'frontend_style', WC_RBP_CSS. 'frontend.css', array(), WC_

[2016-12-14 16:23] ricardoasbrasil opened #55 "Custom Message doesn't update"
When I write a custom message and save, It doesn't save.

![image](https://cloud.githubusercontent.com/assets/24571004/21190163/1cb9be68-c208-11e6-9a34-d099a400e3a7.png)

![image](https://cloud.githubusercontent.com/assets/24571004/21190420/d344c1d2-c208-11e6-9538-6c4e24f12474.png)

![image](https://cloud.githubusercontent.com/assets/24571004/21190094/ddadbd32-c207-11e6-9e96-bd266903eab9.png)

[2016-12-14 16:26] HuGoSm1th commented on #55
I see you have not activated Hide price opton.
![image](https://cloud.githubusercontent.com/assets/12049790/21190529/00002a70-c21a-11e6-835a-be571531155b.png)

[2016-12-14 17:28] ricardoasbrasil commented on #55
Thanks to reply!
Even active this option,
it not work when I save, the text on Custom Messagem doesn't save!
[image: Imagem inline 1]

2016-12-14 14:26 GMT-02:00 Arnis <notifications@github.com>:

--
Aquele Abraço,
Ricardo Araujo

[2016-12-14 17:42] HuGoSm1th commented on #55
Are you using any plugins for cashing website, could it be that admin side is being cashed as well?
I can't imagine anything else that might cause this.

I checked and it work on my main website and on test as well.
![image](https://cloud.githubusercontent.com/assets/12049790/21193551/8fb6ea32-c224-11e6-9fbb-3da720050c1b.png)

[2016-12-14 17:48] HuGoSm1th commented on #55
I have on one of my project websites older version of this extension that does not have this issue.

I put it on my gDrive
https://drive.google.com/open?id=0B0jDpbYXxKvwazY5Wm1MVXp3cW8

[2016-12-20 01:42] technofreaky commented on #50
Thanks for your fix. i will sure have a look and update in my plugin asap. :)

[2016-12-22 14:35] aoloe commented on #36
i would be interested in using the sale price from woocommerce for the roles that do not have role price defined.

i can try to make a patch and a pull request if you tell me:

- how soon a new release is planned
- where in the UI you would add a switch (if any is necessary... shouldn't it be the default behavior?)
- a small hint where in the code i should dig to make the changes (optional)

[2016-12-23 03:47] technofreaky commented on #36
@aoloe
nice to hear that.

can we discuss about it in skype. ?

Skype : varunsridharan23

[2017-01-02 05:23] maydaohio opened #56 "Fatal error: Call to undefined function get_editable_roles() after WooCommerce update"
We recently installed Role Based Pricing plugin. The plugin was functioning well until tonight after an update of Woocommerce to 2.6.11 may have caused this error below. The product that contained the role based price was unavailable to any roles. I restored older version of WooCommerce 2.6.9 and it seems to be running normally now.

I had not made any custom modifications to the plugin code.

I r

[2017-01-05 12:30] maddiemalling opened #57 "Bulk Price Edit Pop-up not working"
Hello,
I am trying to add some bulk prices for a product however when I go to bulk edit in Chrome no pop up shows and then in firefox and internet explorer the pop up works but none of the prices show?

Thanks,
Maddie

[2017-01-10 09:31] maddiemalling commented on #57
Any help with this?

The issue is still happening?

[2017-01-10 15:08] maddiemalling commented on #31
Any update on this?

[2017-01-25 08:56] technofreaky commented on #57
@maddiemalling i am sorry for the delay.

the current version hosted @ wordpress.org has many issues so i am going to release an update soon in 2 days which has many fixes and changes. :)

[2017-01-28 11:46] MersauX opened #59 "Items getting removed from cart"
After adding a product it works fine, but if I visit the cart a few seconds I get the message: "x was removed from your cart because it can no longer be purchased. Please contact us if you need assistance."

[2017-02-06 21:20] paulgrenwood opened #60 "WP All Import Add-Ons Missing"
The WP All Import Add-Ons are missing from the newest version of the plugin.

[2017-04-18 09:01] cyrilst commented on #54
Hello, any news on this ? It's a really straightforward change, you just need to change WC_RBP_NAME to WC_RBP_SLUG

Thank you.

[2017-04-18 10:04] cyrilst commented on #50
Hello, I saw you updated RBP with this patch, thank you ! I also saw you made it work with WooCommerce 3.0 really fast, thanks for your reactivity.

Now I encountered 2 small bugs with the latest RBP (3.0.5) and latest WooCommerce (3.0.3):

# First
In a specific case, tax is applied twice and displays this:
![bad](https://cloud.githubusercontent.com/assets/9591175/25124114/05daf81c-242b-11e7-94b4-

[2017-04-18 10:30] technofreaky commented on #50
@cyrilst thanks for reporting the issue. will sure have a look at it and push an update asap i can

[2017-04-19 08:44] cyrilst commented on #50
Hello,

I looked at the changes you made in RBP 3.0.6, and I must say it looks perfect. These 2 bugs have disappeared and even better, now the prices of variable products display in the WC 3.0 way (ie. only show sale price on the prices range, and show regular and sales prices when a variation is chosen).

This means we can reasonably close this case. Good job and again thank you !

[2017-04-19 08:44] #50 closed

[2017-04-19 10:11] technofreaky commented on #54
@cyrilst thanks for reporting this. will sure change and push an update asap with some more changes too.

[2017-04-19 10:12] #57 closed

[2017-04-19 10:12] #59 closed

[2017-04-19 10:13] #23 closed

[2017-04-19 10:13] #26 closed

[2017-04-19 10:13] #27 closed

[2017-04-19 10:13] #28 closed

[2017-04-19 10:13] #29 closed

[2017-04-19 10:13] #30 closed

[2017-04-19 10:13] #31 closed

[2017-04-19 10:13] #32 closed

[2017-04-19 10:13] #34 closed

[2017-04-19 10:13] #35 closed

[2017-04-19 10:13] #36 closed

[2017-04-19 10:13] #37 closed

[2017-04-19 10:13] #38 closed

[2017-04-19 10:13] #39 closed

[2017-04-19 10:13] #41 closed

[2017-04-19 10:13] #42 closed

[2017-04-19 10:13] #43 closed

[2017-04-19 10:13] #44 closed

[2017-04-19 10:13] #45 closed

[2017-04-19 10:13] #46 closed

[2017-04-19 10:13] #49 closed

[2017-04-19 10:13] #54 closed

[2017-04-19 10:13] #55 closed

[2017-04-19 10:13] #56 closed

[2017-04-19 10:13] #60 closed

[2017-04-19 10:13] #18 closed

[2017-04-19 10:13] #22 closed

[2017-06-27 10:37] roroahawaii opened #61 "customer account based price"
Hi,
I am currently using your plugin but I am looking for a feature that it does not provide yet.
Basically, I would need to be able to set specific pricing not based on role but based on a specific user account.
Do you think this could be added to your to do list or maybe if you can point me in the right direction I will try to look into it myself.

Thanks !

[2017-06-27 10:43] HuGoSm1th commented on #61
Hi,
there is no need for it, just asign your user to role that is unique and woala, sorted.
User: xMan => Role: xMan_role = now you have prices that are specific to that user.

hope that helps,
Arnis

[2017-07-20 13:47] cyrilst commented on #54
Hello, it looks like you didn't commit this change in the latest version (3.1). Can you please check again ? Thanks.

[2017-09-14 18:15] workshopcollective opened #62 "Woocommerce subscriptions variations"
Hello,

I am using the plugin WooCommerce Subscriptions and I have subscriptions variations, it look like we can't put a different price per variation, could you make it compatible ?
Let me know
Olivier

[2017-09-15 01:01] technofreaky commented on #62
@workshopcollective hi sure i can make it work with WC Subscriptions. please do contact me directly

Varunsridharan23@gmail.com

[2017-09-25 22:49] corycpf opened #63 "Quick Edit & Column Support"
To change the Role Based pricing, you need to click to edit the Product. Can you add support to allow Role Based Pricing on the Quick Edit view for Products.

![products_ _role_based_pricing_ _wordpress](https://user-images.githubusercontent.com/7434668/30834227-146166dc-a207-11e7-8a32-8b0e907538dd.png)

And Add Column Support showing pricing per Role for quick viewing.
![rolebasedcol](https://use

[2017-10-15 02:24] #61 closed

[2017-10-24 08:15] Arsyad opened #64 "Adjust price based on input"
Hi,

I am using your plugin and everything works well except that I realised the prices are being override after 'woocommerce_before_calculate_totals' is called.

I am doing some checks on user selection and based on what they input. I have a custom field for some products. I need to multiply the price based on what they fill in. I am doing the adjustments in 'woocommerce_before_calculate_totals'

[2017-11-28 21:30] baspisa opened #65 "variation prices set to zero (0) after upgrade to 3.2"
Once I upgraded to version 3.2 all my prices on variation where showing as zero on the product overview page. Rolling back to version 3.1 fixed the issue

[2017-11-29 22:17] baspisa commented on #65
Just installed 3.2.2, all works fine. Tnx for the fix

[2017-12-05 17:25] cyrilst opened #66 "Bug in wc_rbp_update_variations_data"
Hello,

I just found a bug in includes/functions.php -> wc_rbp_update_variations_data

On line 517:
`$prices[$A_price][$vid] = $pricing->get_product_price($price,$vid,$A_price);`
must be changed to:
`$prices[$A_price][$vid] = $pricing->get_product_price($price,$vid,$A_price,$role);`

Currently, as the role is not passed by argument, when you change a variation price for a specific role, the get_pr

[2017-12-07 00:57] varunsridharan commented on #66
Hi,

Thanks for reporting the issue. i will fix it and update it asap

[2017-12-13 14:41] cleepa commented on #65
I have 3.2.2 and continue having the same 0.00 for variations problem. is there something else I could do?

[2017-12-13 14:43] cleepa commented on #66
Is this related to the issue that shows 0.00 for variable products? I have the 3.2.2 version, which I believe is the most recent release. I've seen another user having the same issue. is there a solution?

thank you

[2017-12-13 16:12] cyrilst commented on #66
@cleepa v3.2.2 solved the 0.00 problem for variable products. It think this bug is a side effect of the corrections applied in v3.2.2.

If you manually apply the change I proposed in the first post, everything will be OK. Hopefully @varunsridharan will release the v3.2.3 soon with this change.

[2017-12-13 16:15] cleepa commented on #66
great! I'll try it. thank you. fingers crossed

[2017-12-13 16:20] cleepa commented on #66
still having that problem. I can't figure it out. I've tried disabling all other plugins, so I don't think its a conflict

[2017-12-13 16:29] cyrilst commented on #66
@cleepa which problem do you have ? Do you have 0.00 for variable products, or do you have an other wrong number ?

Have you tried to flush transients in woocommerce -> state -> tools ?

[2017-12-13 16:34] cleepa commented on #66
I have the 0.00 for variable products problem. I did clear transients before, and I just tried again. the problem is persistent

[2017-12-14 01:03] varunsridharan commented on #66
@cleepa  I am really sorry about that.

Right now i am working on a update which i am upgrade my plugin to my custom plugin framework which has lots of improvements and speed. so that i am not able to release an update now.

but i can fix this for you.

1. you can either change the code which is mensition above by (@cyrilst )
2. please do ping me @ skype and provide access to it i will check and f

[2017-12-14 10:50] cyrilst commented on #66
I see you made the 3.2.3 version, it looks great on my test website. So I decided to go from 3.1 to 3.2.3 on my production website… and I got 0.00 prices for variable products. It's weird how I have no problem on my test website, and I have this problem on my production website. I just tried modifying a product, its RBP price, I flushed transients… it sticked to 0.00.

I made a rollback and I'm in

[2017-12-14 11:39] varunsridharan commented on #66
@cyrilst i think this might be due to the transients
if you want more help please do ping me on skype so that this can be solved asap.

[2017-12-15 09:46] cyrilst commented on #66
I just upgraded to 3.2.4 on my production website, and everything looks good now. Thank you !

[2017-12-15 10:11] cyrilst commented on #66
Also, the fact that RBP uses transients looks really awesome right now. Displaying categories containing several products with more than 100 variations each was really long (~10 to 15 seconds). Now it's blazing fast (< 1 sec) !

[2017-12-15 10:34] varunsridharan commented on #66
@cyrilst rilst thats really awesome to hear :)

Can you please write a review @ wordpress.org ?

[2017-12-15 17:38] cyrilst commented on #66
I made a review on wp.org :)

Now I discovered a new problem… On a specific product, I need to set a price of the product after it's in the cart, with $product->set_price($some_price)
This works well with RBP 3.1, not in RBP 3.2. In 3.2 it sets the price in my mini_cart, but after a reload (or directly in the cart), it shows the product at 0.00.
It think this is a totally different problem. And it

[2017-12-18 20:44] a-gram opened #67 "Price not updating in variable products."
Hi,
i am trying out your plugin and it looks like something is not working properly with variable products. Not sure if that's a bug but it looks like one.

The problem is that when the product's regular/sale price is changed the plugin does not update the price accordingly and the product's page displays a static value. Upon further investigation it appears that the plugin caches the product pric

[2017-12-20 14:50] cyrilst commented on #66
I just found where is the problem: in includes/class-product-pricing.php, lines 53-55:

<pre>if(in_array('variable',$product_type)){
  return 0;
}</pre>

The product I set the price in cart is a variable product (not variation). Reason is this is a custom made product, with width and height set by the client. Variations are here to tell him the price/m² depending on the surface. When the customer

[2017-12-20 14:52] varunsridharan commented on #66
@cyrilst

I added that for a issue with variable.

I think i need to recheck that. do you mind sharing some more info ?

like how you setup the prices and also the full product details

so that i can try to replicate that

[2017-12-20 15:24] cyrilst commented on #66
Ok, here is the product:
https://www.unified-av.com/boutique/videopole/toile-mesure-ecran-de-projection-screenline-diamond/
Then when you want to buy the product, you land here:
https://www.unified-av.com/videopole/toiles-de-projection-sur-mesure/
There you can choose width, height, and some options. You'll see the price change accordingly to what you choose. Once you've choosen the exact options

[2017-12-20 17:00] vieweight opened #68 "Variables Product Prices showing 0 on product page when role type price not specified"
This plug in used to ignore roles where there was no price specified. Now, it seems that leaving a field blank causes a $0 price to show up in the product listings.

Example: The logged out and customer roles were left empty so they would see the default product prices. After a recent update, these prices now show $0 when browsing the site. Prices are still working properly, because items added to

[2017-12-20 23:54] varunsridharan commented on #68
Hi,

@vieweight Can you please share a screenshot of the WC RBP Metabox (Of your Price Setup ) And also the settings page of WC RBP ?

[2018-01-05 19:02] workshopcollective opened #69 "Shipping Class"
hello,

I create a variation product with Shipping Class free shipping, but I need to remove free shipping for other customer price level, because shipping is not free anymore for them
Let me know
Olivier

[2018-01-29 06:46] zirost opened #70 "allowed user roles, product pricing not select issue"
Hi, thanks for the good plug-in.

I want to use the plug-in but the contents of the allowed user rolls are not selected, so I can't use it.
I will attach the image of what the situation is like.

<img src="http://ziros.dothome.co.kr/pictureWebpage/diary/data/83.png">

Thank you.

[2018-01-29 07:00] varunsridharan commented on #70
@zirost it seems that there is some javascript error in your website.
can you please check your browser console ?

### To Open Console.

1. Press F12 Button on the page
2. Click console tab in the opened window (REF : http://s.svarun.in/jd)

Pls take a screenshot of that

[2018-01-29 07:08] zirost commented on #70
Thank you for your quick reply.

There was nothing else to be found in the console besides the cross-domain issues. Is there anything else you need?

<img src="http://page.mediagram.co.kr/demo/shop1/wp-content/uploads/2018/01/스크린샷-2018-01-29-16.03.25.png">

[2018-01-29 07:22] varunsridharan commented on #70
@zirost are you running your website with anyother language ?
if so can you please share the language code / which language name ?

And also what version of WC Role based price are you using ?

[2018-01-29 07:27] zirost commented on #70
I'm using Korean.
Language code is Ko_US.

The WC Role-based version is using 3.2.4.
In addition, my word press version is 4.9.2.

[2018-01-31 02:13] zirost commented on #70
I solved the problem like this.

Korean is not selected, so I changed the word press basic language to English, and it was selected! So I decided to switch to English as my second best option.

I didn't think this error was due to language.

Thanks for your help!

[2018-01-31 02:19] varunsridharan commented on #70
@zirost I am glad you are able to solve it.

but i still believe that it may be due to Language issue.

Would you like to provide me a list plugin plugins you use ?

So that i can check for the issue

[2018-01-31 05:49] zirost commented on #70
@varunsridharan Let me tell you about the site and plug-in list.
The site is being developed and when development is complete, the site may be inaccessible and the plug-in installation list may be different. Please note this.

site : http://page.mediagram.co.kr/demo/shop1

theme : avada-theme
list plugin
Contact Form 7, Fusion Page Builder, cosmosfarm member ( Korean Member Management ), Woocommer

[2018-02-16 19:40] vieweightcasey commented on #68
Hi Varun,

Just getting a chance to follow up on this, as it's still giving us trouble. Attached our the screenshots you requested. Also, if we disable the role based pricing for all variations of a product, it shows as $0 on our site, even with prices set in woocommerce for each variation.

![image](https://user-images.githubusercontent.com/36548984/36325765-e2b15d36-1326-11e8-97b1-5dd3f9c65cd1.p

[2018-02-17 01:11] varunsridharan commented on #68
Hi,

I need price edit view of WC RBP Meta.

Please take a screenshot of any user role in it. not the general tab.

[2018-02-19 19:50] vieweightcasey commented on #68
![image](https://user-images.githubusercontent.com/36548984/36394874-46f3273e-1584-11e8-830c-5b2015569a11.png)

[2018-02-26 21:48] steveni1963 opened #71 "RBP price not showing"
Hi,
This used to work on my site and nearly all of the 460 (approx) products are set to use it.
Now it no longer works and only the normal price shows.
I had the theme developer debug and this is his analysis:

_

_

I have added a new user for you - please contact me for the login.

The site is www.activeonline.com.au and I am a premium customer.

Regards

Steve

[2018-02-26 22:16] steveni1963 commented on #71
Some more information - it works ok in customizer.

[2018-02-26 23:13] steveni1963 commented on #71
I have since sone some more testing and the problem is with another plugin called booster.  When using product add on function the role based price is overwritten by booster to show the original price.  I will contact the booster developer and let them know.  I hope this helps you if another user has an issue with this plugin.

[2018-02-26 23:22] steveni1963 commented on #71
Sorry, seems the issue is that your plugin is not detecting the correct user role - see original advice from theme developer.

[2018-02-28 22:06] steveni1963 commented on #71
Them developer has now found a bug in their theme causing this issue.  Sorry about the inconvenience.

[2018-02-28 23:11] steveni1963 commented on #71
Seems part of the problem remains see this comment:
The bad part of this RBP plugin is that it not set the price globally, that break other plugins. For example, you using 'Booster Plus for WooCommerce' that changing dynamically price depending on chosen add-ons ( http://jmp.sh/ovrXzg2 ). As you see, the "Booster" plugin using the original price, not the RBP price.

Could you please look into this

[2018-03-06 03:14] steveni1963 commented on #71
Hi, Any movement on this?

[2018-03-06 03:56] varunsridharan commented on #71
@steveni1963 sorry for the delay.

you have said that you are a premium customer. if you bought the pro version then please our ticket system

http://vssupport.ticksy.com and also provide your purchase code.

We dont have an integration with Booster WooCommerce plugin.
if you do need an integration with it. please do contact me directly via email : vaurnsridharan23@gmail.com

Thanks
Varun S

[2018-03-08 13:51] cyrilst commented on #66
Hello, I think we can close this issue, as version 3.3 includes the fix, and works fine.

[2018-03-08 13:51] #66 closed

[2018-03-08 14:00] cyrilst opened #72 "get_available_variations doesn't use RBP"
Hello,

I've used this function for a while:
<pre>
function get_my_variations() {
  $product = new WC_Product_Variable($_POST['id']);
  wp_send_json_success($product->get_available_variations());
}
</pre>

It worked fine, but with RBP version 3.3, the returned value is always the base price, not the role based price…

I think you can reproduce this pretty easily. Is there a problem in RBP, or did

[2018-03-08 14:12] varunsridharan commented on #72
@cyrilst
Thats because i disabled loading in ajax request. you need to override it. and include our pricing class.
I did this to make the site stable.

[2018-03-08 14:13] varunsridharan commented on #72
@cyrilst

[code]

[2018-03-08 15:14] cyrilst commented on #72
Ok, thank you. It sounds logical to load RBP only when needed.
I added the two lines at the start of my function, and added this third line:
`$pricing->wc_init();`
And now it works fine.

Again, thank you !

[2018-03-08 15:14] #72 closed

[2018-03-21 15:45] FlexGolfer opened #74 "Role based price not takken into account in Order creation form"
Got some specific customer roles (distributor/wholesale/..) everything went well when they use the shop to create their order ...
BUT the role based price is not set properly when creating an order into the admin order form.
it should take the defined customer role to define the related product price !!

This + the fact the plugin is not managing user with multiple roles empeach to easily define p

[2018-04-12 06:37] varunsridharan opened #76 "Global Cache Clear Button."
Hi!
Is there a way to clear cache globally?
Now the only option you have is a clear cache button for each product. It would be nice to have a global clear cache button.

Thank you!

Ref : https://wordpress.org/support/topic/wc-rbp-clear-cache-button/

[2018-04-12 06:37] #62 closed

[2018-04-12 06:38] varunsridharan commented on #63
@corycpf This feature has been implemented in pro version. please do have a look at it.

[2018-04-12 06:38] #63 closed

[2018-04-12 06:38] #64 closed

[2018-04-12 06:39] varunsridharan commented on #65
@baspisa @cleepa
Guys really sorry for the long delay . still facing the issue ?

[2018-04-12 06:39] varunsridharan commented on #67
@a-gram  sorry for the delay.
Still facing the issue ?

[2018-04-12 06:44] varunsridharan commented on #68
@vieweightcasey sorry about the delay. and this issue seems to be fixed with the latest version. of wc role based price.

[2018-04-12 06:44] #68 closed

[2018-04-12 06:44] #69 closed

[2018-04-12 09:14] VladoJ commented on #27
Hi @varunsridharan
is there any solution how to entry RBP in manual order?

[2018-04-12 09:16] varunsridharan commented on #27
@VladoJ we have in pro version. but that feature is still in beta haven't released. only providing it for the users who request to us directly.

https://codecanyon.net/item/woocommerce-role-based-pricing-pro/14120734?ref=varunsridharan

[2018-04-12 09:33] VladoJ commented on #27
@varunsridharan

Thank you for quick response.

I will buy it, just please answer to my questions.
Is the beta relatively stable?
Will already entered prices and roles stay saved?
After I buy licence, how will I obtain the beta version?

[2018-04-12 13:28] VladoJ commented on #27
@varunsridharan please let me know once you will have a while. Thank you much.

[2018-04-12 13:31] varunsridharan commented on #27
@VladoJ sorry about the delay.

 Is the beta relatively stable?
Yes in beta and i am actively working on it.

Will already entered prices and roles stay saved?
Yes it will be there no price will be changed.

After I buy licence, how will I obtain the beta version?
You need to open a support ticket @ http://vssupport.ticksy.com

As of now i am not in town. so i can't send you the beat source will m

[2018-04-12 14:12] VladoJ commented on #27
@varunsridharan

Thank you much again, I created the ticket #1538830 for it.
Please try to send me the beta as soon as possible.

[2018-04-23 08:50] emarzi commented on #65
Same problem, how do I fix?!

[2018-04-26 00:59] cleepa commented on #65
Hi, I've been using the the plug-in and its been working great. Thanks again for all your help before. I have a new issue that I hoped you may have a solution for. I've added some new composite items, (using "WooCommerce Composite Products"), and the role based pricing will not affect those items. Have you heard of this issue? do you know of a solution?  Thank you again.

[2018-04-26 01:11] cleepa opened #77 "not working with composite items"
Hi, I've been using the the plug-in and its been working great. Thanks again for all your help before. I have a new issue that I hoped you may have a solution for. I've added some new composite items, (using "WooCommerce Composite Products"), and the role based pricing will not affect those items. Have you heard of this issue? do you know of a solution? Thank you again.

[2018-04-26 15:05] webplease opened #78 "wc filters not working"
Hi,

i need to hook the price range function. Using:

add_filter( 'woocommerce_variation_price_html', 'myfunction', 10, 2);
add_filter( 'woocommerce_variable_price_html', 'myfunction', 10, 2);

This filter are ignored, why?

Disabling woocommerce-role-based-price plugin works.

Thanks.

[2018-05-11 11:47] drwelduk commented on #74
I'm having the same problem as you too. Works when using the store, doesn't work when manually creating orders. It's also not working with "Woocommerce POS" by kilbot, just uses standard price (I had changed customer to one with different prices)

[2018-05-11 12:09] varunsridharan commented on #74
@FlexGolfer
@drwelduk

I am really sorry about the delay.
As of now Admin Order creation in backend is not available for free you need to purchase our pro version and then contact us to get the addon.

And i am thinking reg the multiple user role. i will try to make an improvement for it in coming months.

[2018-05-16 15:57] rmbaumer opened #79 "Export extension adds column headers to file but no data"
The column headers are correctly added to the export file (default woocommerce export) like so:

WC Role Based Price All | WC RBP Status | And then a column for each role
---|---|---

but the price and status values are not exported.

edit: in woocommerce export interface, if specific columns are selected for export instead of just choosing 'Export All Columns' the price values are exported. But,

[2018-05-22 07:08] qafcreative opened #80 "Regular price with strikethrough not showing in shop page for variable products."
I use Woocommerce Role Based Price to my Woocommerce site. It works nice for simple products, showing regular price with strikethrough on shop page and showing selling price like charm.

But it's not happen for variable products with variations. It is just showing selling price without regular strikethrough price in shop page. Even I have clicked the Clear Cache button, it is still now working. Ev

[2018-05-24 12:25] erezerezg opened #81 "Broken functionality when active alongside Woocommerce Composite Products"
Hello,
We are using this plugin on a certain product in our store and it behaves as expected. We recently started running some tests with WooCommerce Composite Products, and when a certain component there is set to receive a discount, that discount is ignored when the product is added to the cart. I've isolated the issue and found that when switching off the Role Based Price plugin, simply refresh

[2018-05-24 13:06] varunsridharan commented on #81
@erezerezg we dont have integration with WC Composite product plugin.

[2018-05-27 09:48] erezerezg commented on #81
@varunsridharan I understand that you don't offer direct integration with the WC Composite plugin, but the issue here has nothing to do with integration. As long as NONE of the products in question are using any type of Role Based Price functionality, why is it still affecting prices in the cart display?

Again - switching the plugin off instantly solves this issue, so there's no doubt regarding t

[2018-05-27 10:52] varunsridharan commented on #81
@erezerezg thanks for the clarification. So here is my point of view.

Some plugin may directly override the hooks that we use. and i can't be sure which plugin dose and which dosen't so that the only reason i have said that we dont have any integration.

Can you please share me info / screenshot few things

1. Role Based Price Settings Page
2. WC Role Based Price Plugin Version
3. WooCommerce Ver

[2018-05-27 19:12] shark1926 commented on #78
hello, did you solve this issue?

every snippet about price added in custom function not work...

[2018-05-28 08:15] webplease commented on #78
problem not solved :(

[2018-05-28 08:28] erezerezg commented on #81
@varunsridharan
1.
![image](https://user-images.githubusercontent.com/16634802/40604771-d65e8392-6268-11e8-8154-bde3e17271f5.png)

2. RBP Version 3.3.2
3. WC Version 3.3.5
4. We do not.
5. Bare bones for Divi
6. The following is a stripped down version that still reproduces the issue. It is a composite product with a single component for which a 20% discount was set. the discount appears as expect

[2018-05-28 09:59] varunsridharan commented on #81
@erezerezg I can see you haven't configured the settings. please do that first. and then as i said before. i haven't tested / integrated our plugin with **composite product** plugin. so i can't be sure if it will work or not.

[2018-05-28 11:30] erezerezg commented on #81
@varunsridharan If by "configured the settings" you were referring to defining the user roles in the first image, then:
a) I've been using the plugin and it behaved as expected on its own without having to do that
b) I did that just now and the behavior remained the same.

Bottom line: Suppose we need both functionalities and avoid them clashing with one another, do you suggest we simply find an a

[2018-05-28 11:45] varunsridharan commented on #81
@erezerezg Thanks for your information.

But as i said before i can't be sure. since we dont have any option for it.
What you can do is just try disabling the plugin (composite product ) and try if WC Role Based Price

[2018-05-28 12:04] varunsridharan commented on #81
@erezbpm

Thanks for your review. but i never asked u to stop using the Composite product and also i never wrote that this plugin works 100% with Composite Product.

And yes you did opened a issue @ github where i tired my best to help you and still want to. i asked u to try disabling the plugin and check if it works. but after that i just got an email from wp for your review.

NOTE : I am not doi

[2018-05-28 16:08] Aran-Fey commented on #79
I have a similar problem - the prices are not exported, and not even the columns are generated.

I clicked Export and checked the "export user defined metadata" checkbox. I left everything else at the default (export all columns, export all products).

WooCommerce version: 3.4.0
Role Based Price version: 3.3.2

[2018-05-29 09:28] shark1926 commented on #78
instruction in class-product-pricing.php has priority but not work the same

For example condition for price = 0

(  if( $prices[0] == 0 && $prices[1] == 0 ) {

                $price = __('Free! ', 'woocommerce');)

not work the same...

[2018-05-31 00:28] shark1926 commented on #78
Varun u there?

[2018-06-07 15:18] mlapan opened #82 "importing images with wp-import clears out role based pricing field"
**Describe the bug**
i had a simple csv to import a single image for a product. for wp-import i set it to ONLY update data for the image. after import role based pricing is turned off and all values are cleared out. this might be entirely wp all import doing something bad, ive contact them also. will update when i hear back
my csv had 2 columns sku and image

**Software Versions**
1. WordPress : 4

[2018-06-09 14:34] webplease commented on #78
Varun please help us! :(

[2018-06-22 13:44] southcapenet opened #83 "compatibility with woocommerce shortcodes"
**Describe the bug** old shortcode not working since we upgraded to role-based pro
A clear and concise description of what the bug is. I was using the shortcode [wwof_product_listing category="191"] before the upgrade, but it hasn't been working since we upgraded from the free version to the pro version.  Must I use another shortcode, and if so, can you mail it to me?

**To Reproduce**
Steps to re

[2018-06-22 13:47] southcapenet commented on #83
I am using the latest versions of wordpress and woocommerce.  OS - Windows 7 on a desktop.

[2018-06-22 13:48] southcapenet commented on #83
Browser latest Google Chrome.

[2018-07-03 01:21] rmbaumer opened #84 "Minicart initially shows default price instead of role based price"
When adding a product to the cart via AJAX the minicart initially shows the default WooCommerce price until you do a hard page refresh.

This only happens from the single product page. The minicart functions as expected and displays the correct price when you add a product to cart via AJAX from a category page or any other type of archive page (tags, attributes, etc).

**Screenshots**

Added from

[2018-07-10 14:09] NWR91 opened #85 "Multisite Compatibility"
It appears that multi-site compatibility no longer works.

It worked when the plugin was activated network-wide, but one site on the network no longer requires it, and the site that does no longer loads the correct prices

[2018-07-17 15:17] croberta84 opened #86 "503 service unavailable"
I install the plugin and I have this error. website works fine if I deactive your plugin

[2018-07-17 16:28] croberta84 opened #87 "miss save button on integration with wc frontend manager"
Hi, how can I add Save Button also in the wcfrontend manager, otherwise I cannot save the price for each role

[2018-07-18 18:35] ideasandpixels opened #88 "Plugin Causing WP Dashboard Load To Slow Down By 10 Seconds, Easy"
**Describe the bug**
Looking at Chrome dev tools, our administrative pages are taking 14 seconds on average to load. There are two HUGE waterfalls in here, both from this plugin. It involves the calls to "custom css" and "custom js". Example:  **GET /wp-admin/admin-ajax.php?action=wc_rbp_addon_custom_css&ver=3.3.2**

**To Reproduce**
Install, login, it happens. If we disable the plugin, the site i

[2018-07-20 07:33] keepsmilyn opened #89 "Compatibility with Woocommerce Composite Products - please!"
We had great success with using your product on simple woocommerce products and loved how different prices showed for different user roles, however it doesnt seem to work on composite products. We are really keen to have this work with composite products or will end up hunting for another solution that can offer this.

We want to display different prices per user role / level on our website and ma

[2018-08-28 16:58] shamstarek opened #90 "Import products with role prices!"
Hi
I'm using your latest version of role based price plugin.
And I can see How to update my 5000 product buy import CSV file and update _enable_role_based_price with value '1'

Now I want to add the prices based on role in the CSV file. The target from using CSV file that more effective than update every product online.

What is the meta's that used to add a custom price to the available roles?
Wa

[2018-09-05 20:13] shamstarek commented on #90
Hi
Any help here?

[2018-09-12 12:03] rmbaumer commented on #88
I'm not seeing this with my installation:

![image](https://user-images.githubusercontent.com/8609982/45423630-eda69380-b661-11e8-809e-3456f363468a.png)

Do you have any of the RBP extensions enabled? (such as Price & Add to Cart Visibility)

[2018-09-12 12:13] rmbaumer commented on #82
Hey mlapan - it's not just images from what I can tell, it's any import that doesn't have columns populated with all the existing RBP data. If you don't include the columns for RPB (whether you're changing them or not), they get dropped. Also, it's not just the All Import plugin, it affects the standard Woo import too. See: https://github.com/varunsridharan/woocommerce-role-based-price/issues/79

[2018-09-12 12:15] rmbaumer commented on #85
I can confirm this behavior as well. For now I just make sure I have RBP network activated.

[2018-09-18 12:24] jmorenod opened #91 "Price & AddToCart Visibility Not work"
Hello!

I have a problem, because I didn't check Variable product variation, but allways the price is hidden from product page

**Software Versions**
1. WordPress : 4.9.8–es_ES
2. WooCommerce :  3.4.5
3. WC Role Based Price : 3.3.2
PHP version: 7.1.14

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser chrome, Firefox
 - Version 69 , 62

![imagen](https://user-image

[2018-09-18 12:29] jmorenod commented on #91
Where Can I find the log?
In what table of the database Could I find the chages that I did in the administration zone ??

Thanks

[2018-09-27 18:47] snelweg opened #92 "Price & Add To Cart Visibility, Hide Add To Cart Button"
**Expected behavior**
What it says, it should display a message (Custom message) to visitors and anonymous users. It does not.

Steps to reproduce the behavior:
activate "Price & Add To Cart Visibility [ V1.0 ] " extension
add "anonymous and Visitor/logged out user" at "Hide Add To Cart Button"
set "Custom Message" and enter a message in the textfield

**Screenshots**
![x1](https://user-images.git

[2018-10-31 21:01] vieweight opened #94 "Product price being used as add-on price"
Since the update to WooCommerce 3.5 and WooCommerce Product add-ons 3.0.1, we are having an error where the product price is used instead of the add-on price. This is causing all products with add-ons to be totaled as double or triple their price when added to the cart, even when the add-on's price is $0. This is happening only to users with roles other than the default customer.

Assistance is ap

[2018-11-19 18:17] rafaelcalero opened #95 "Bug cache (price) when massive update products via api"
**Describe the bug**
When variable products are massively updated by woocommerce api (price), it is not displayed in the frontend until you press the "clear cache" button of each product, one by one.

**Expected behavior**
A global cache erase button or some way to do it manually.

**Additional context**
I have a woocommerce with 3600 references, any way to delete it manually?

[2018-11-20 17:11] ptmessaging commented on #95
Any solution for this? I am having the same issue.

[2018-12-12 10:08] rastitkac opened #96 "Role based sale price"
**Is your feature request related to a problem? Please describe.**
The one feature I'm missing is the ability to define specific sale price for a role.

**Describe the solution you'd like**
I would love to see an implementation of WooCommerce's sale price field to role based price editor.

**Describe alternatives you've considered**
I haven't been able to find any other alternative solution.

**Ad

[2018-12-12 10:45] varunsridharan commented on #96
@rastitkac Schedule selling price is a paid addon which is available in pro version
which can be purchased from https://1.envato.market/c/1267926/275988/4415?u=https%3A%2F%2Fcodecanyon.net%2Fitem%2Fwoocommerce-role-based-pricing-pro%2F14120734

[2018-12-12 10:54] rastitkac commented on #96
Thank you

[2018-12-12 10:54] #96 closed

[2018-12-14 13:48] gaspardwilliam opened #97 "shortcode [sale_products] and [products on_sale="true"] displaying even if role hasn't sale_price"
woocommerce shortcode for displaying sale products are showing products even if user role hasn't sale price

Is their a way to fix this ?

**Software Versions**
1. WordPress :5
2. WooCommerce : 3.5.2
3. WC Role Based Price :3.3.3

[2019-01-14 10:32] aspexi opened #98 "Scheduled future sale price is always displayed instead of regular"
**Describe the bug**
Regular price set to £2.5
Sale price set to £2.0
Sale price dates set in the future.
On product's page Sale price (£2.0) is displayed.

**To Reproduce**
Additionally, the Enable Role Based Pricing option is enabled for that product but all fields are empty as I don't want different prices for roles for that product.

**Expected behavior**
Expecting to see Regular (£2.5) price

[2019-01-14 13:36] ricklambrechts commented on #84
Hi,

We got the same problem. After looking in the closed issues session i saw issue #53.
The solution of Jurjens solved it for us.

[2019-01-22 18:58] #98 closed

[2019-02-06 10:06] mato0036 commented on #90
Hi,
just add to your CSV file new column with header like this "WC Role Based Administrator Price" where "Administrator" is your role.

[2019-03-21 10:09] Eni33 opened #100 "The price on the cart page is not the price set by RBP"
**Describe the bug**
The price on the cart page is not the price set by RBP.

**Expected behavior**

The price displayed in the cart must be that of RBP.

**Screenshots**

![Capture4](https://user-images.githubusercontent.com/48790287/54745248-58182d80-4bc9-11e9-9b32-4f96e5e8a594.PNG)
![Capture3](https://user-images.githubusercontent.com/48790287/54745259-5f3f3b80-4bc9-11e9-8c22-f5902462c3d5.PNG)

[2019-03-21 10:12] varunsridharan commented on #100
@Eni33 can you please check by installing / activating default wordpress theme ?
And also whats the theme that you are using right now ?

[2019-03-21 10:14] varunsridharan commented on #100
@Eni33 i would request you to try using default theme and provide your feedback.

[2019-03-21 10:19] Eni33 commented on #100
![Capture5](https://user-images.githubusercontent.com/48790287/54745925-243e0780-4bcb-11e9-911b-f2761f39b48f.PNG)

Ok it's a theme problem.
How can i solve it?

[2019-03-21 10:21] Eni33 commented on #100
@varunsridharan  It's a theme problem.
How can i solve it?

[2019-03-21 11:00] varunsridharan commented on #100
@Eni33 also before that can you please confirm me if you are using any caching plugin ?

[2019-03-21 11:11] Eni33 commented on #100
@varunsridharan  I use WP-Rockets on production serveur
But in local with MAMP i have the same problem

[2019-03-21 11:19] varunsridharan commented on #100
@Eni33 sorry to say that our plugin dose not support caching plugin.

[2019-03-21 11:23] Eni33 commented on #100
@varunsridharan
I've turned off Wp-Rockets but the problem is still here

[2019-03-21 11:24] varunsridharan commented on #100
@Eni33 is that with the theme you are using ?

[2019-03-21 11:25] Eni33 commented on #100
@varunsridharan  Yep, with Betheme by Muffingroup

[2019-03-21 11:26] varunsridharan commented on #100
@Eni33 in that case you need to ask the theme developer if he listed products based  on default woocommerce structure in checkout / cart page. (Where ever u have the issue)

[2019-03-21 11:26] varunsridharan commented on #100
@Eni33 this issue might be due to incorrect way of getting / listing the data from wc. which will not trigger required hooks for it.

[2019-03-21 11:27] Eni33 commented on #100
@varunsridharan  Ok, thank you :D

[2019-03-21 11:27] #100 closed

[2019-03-29 11:57] timclausen opened #101 "Support for Gravity Forms product add on"
It would be very nice with a integration with Gravity Forms Product Add On for Woocommerce. When creating a product with dynamic pricing. It would be great to have the possibility to add role prices in the calculations.

[2019-04-02 02:06] varunsridharan commented on #101
Thanks for the request. i am happy to integrate. but can you please explain on how and where you are looking for it ?

[2019-04-18 02:09] crycoi121 opened #103 "Role Based Confilct with Autoship"
WooCommerce Role Based Price : Version 3.0 is interfering with Autoship Cloud powered by QPilot Version 1.2.17.

When I turn WooCommerce Role Based Price off it works fine. This is the 2nd issue I have had with this plugin.

The autoship function is right above the “Add to Cart” button. The “One-time Purchase” option displays the price of $39.95. If you chose the “Autoship and Save 17% at checkout

[2019-04-30 14:40] Progressed36 opened #104 "WC_Bookings"
I would love this plugin to be adopted for Woocommerce Bookings (official woocommerce plugin) and especially for person types. We work with allot of resellers of our product with different prices per contract and also normal people that visit our website wiith our own net rate. So you see that role based pricing would be a saviour in time for so many ways.

[2019-05-03 00:33] sideburn opened #105 "Role base pricing is always applying to product bundles"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Use with Woocommerce Product Bundles. The Role based price is applied to the bundle product when the price should not be applied because a bundle is a fixed price when the bundled product does not have sold individually checked.

[2019-05-16 23:57] steveni1963 opened #106 "WooCommerce 3.6.3 crash"
**Describe the bug**
Upgraded to WooCommerce 3.6.3 and site crashed.

Received the following email from the site:
Howdy!

Since WordPress 5.2 there is a built-in feature that detects when a plugin or theme causes a fatal error on your site, and notifies you with this automated email.

In this case, WordPress caught an error with one of your plugins, WooCommerce Role Based Pricing Pro.

First, visi

[2019-05-17 00:48] varunsridharan commented on #106
@steveni1963 i did checked in my local but it seems that WooCommerce is generating some errors while upgrading / activation . its not our plugin.  in case if you still think its because of our plugin. please do provide more information.

[2019-05-17 00:59] steveni1963 commented on #106
Hi Varun,

That is what I saw too.  They claim it is your plugin in the error message and it completely took down my admin and my shopping cart.
If I didn’t have a backup I would have had to remove your plugin to get my site working – this would seem to be more risk to you than WooCommerce.
If you are seeing the same thing I hope you can work out why and let WooCommerce know or patch around the pr

[2019-05-17 01:02] varunsridharan commented on #106
@steveni1963 thanks i did checked and there is 0 error. created by my plugin. but i am still trying. it would be great atleast if you could give me a screenshot where it claims that its my plugin.

[2019-05-17 01:03] steveni1963 commented on #106
Hi Varun,

I will forward you the email from WooCommerce plugin – hope that helps.

It will come soon.

Regards,

Steve

From: Varun Sridharan <notifications@github.com>
Sent: Friday, 17 May 2019 11:02 AM
To: varunsridharan/woocommerce-role-based-price <woocommerce-role-based-price@noreply.github.com>
Cc: Steven Irwin <steveni@activeonline.com.au>; Mention <mention@noreply.github.com>
Subject: Re:

[2019-05-17 01:06] varunsridharan commented on #106
@steveni1963 thanks. lets see what it has to say.

[2019-05-17 01:08] steveni1963 commented on #106
If you look down the bottom of the email it looks like it is the WP-All-Import extension to your plugin causing the problem

From: Varun Sridharan <notifications@github.com>
Sent: Friday, 17 May 2019 11:07 AM
To: varunsridharan/woocommerce-role-based-price <woocommerce-role-based-price@noreply.github.com>
Cc: Steven Irwin <steveni@activeonline.com.au>; Mention <mention@noreply.github.com>
Subject:

[2019-05-17 01:09] varunsridharan commented on #106
@steveni1963 i got nothing. can you please copy & paste it in here ?

[2019-05-17 01:11] steveni1963 commented on #106
Here it is:

Howdy!

Since WordPress 5.2 there is a built-in feature that detects when a plugin or theme causes a fatal error on your site, and notifies you with this automated email.

In this case, WordPress caught an error with one of your plugins, WooCommerce Role Based Pricing Pro.

First, visit your website (https://www.activeonline.com.au/) and check for any visible issues. Next, visit the p

[2019-05-17 01:12] varunsridharan commented on #106
@steveni1963 thanks for the information. and can you please provide me 3 more info

1. PHP Version
2. WooCommerce Version
3. WordPress Version.

[2019-05-17 01:15] steveni1963 commented on #106
Hi Varun,

  1.  PHP Version – 7.2.18
  2.  WooCommerce Version – Upgrade to 3.6.3 from 3.6.2
  3.  WordPress Version. – 5.2

From: Varun Sridharan <notifications@github.com>
Sent: Friday, 17 May 2019 11:13 AM
To: varunsridharan/woocommerce-role-based-price <woocommerce-role-based-price@noreply.github.com>
Cc: Steven Irwin <steveni@activeonline.com.au>; Mention <mention@noreply.github.com>
Subject

[2019-05-17 01:20] varunsridharan commented on #106
@steveni1963 thanks for the information. i will check and let you know.

[2019-05-17 01:27] steveni1963 commented on #106
Thanks Varun

From: Varun Sridharan <notifications@github.com>
Sent: Friday, 17 May 2019 11:20 AM
To: varunsridharan/woocommerce-role-based-price <woocommerce-role-based-price@noreply.github.com>
Cc: Steven Irwin <steveni@activeonline.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [varunsridharan/woocommerce-role-based-price] WooCommerce 3.6.3 crash (#106)

@steveni1963<https://github.

[2019-06-03 05:02] steveni1963 opened #107 "Role based prices no longer showing"
**Describe the bug**
After login the original price is showing and the role based price is not appearing.
Not sure how long ago this started happening.
No errors in the logs.

[2019-06-03 05:07] steveni1963 commented on #107
Seems like it is composite products with the problem.  Seeing standard products with the role based price

[2019-06-24 19:16] rafaelcalero commented on #95
Any update? @varunsridharan

[2019-07-23 02:37] #76 closed

[2019-07-23 02:37] #77 closed

[2019-07-23 02:37] #78 closed

[2019-07-23 02:37] #79 closed

[2019-07-23 02:37] #80 closed

[2019-07-23 02:37] #81 closed

[2019-07-23 02:37] #82 closed

[2019-07-23 02:37] #83 closed

[2019-07-23 02:37] #84 closed

[2019-07-23 02:37] #85 closed

[2019-07-23 02:37] #87 closed

[2019-07-23 02:37] #88 closed

[2019-07-23 02:37] #89 closed

[2019-07-23 02:37] #90 closed

[2019-07-23 02:37] #91 closed

[2019-07-23 02:37] #92 closed

[2019-07-23 02:37] #94 closed

[2019-07-23 02:37] #95 closed

[2019-07-23 02:37] #97 closed

[2019-07-23 02:37] #101 closed

[2019-07-23 02:37] #103 closed

[2019-07-23 02:37] #104 closed

[2019-07-23 02:37] #105 closed

[2019-07-23 02:37] #106 closed

[2019-07-23 02:37] #107 closed

[2019-07-23 02:37] #65 closed

[2019-07-23 02:37] #67 closed

[2019-07-23 02:37] #70 closed

[2019-07-23 02:37] #71 closed

[2019-07-23 02:37] #74 closed

[2019-09-02 11:01] theimaginaire opened #108 "WC Default Import of other product data changes Price Status to off"
**Describe the bug**

When importing other product data -- i.e. if I ran an import to update product names, if there is no import column of Price Status with 1 as the value, the import function turns off role based pricing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to wc default product import
2. Update products by SKU, change data such as product name
3. Check price status setting

[2019-09-23 06:28] varunsridharan opened #109 "WP/WC Rest API"
Needs WC / WP Rest API To Fetch Role Based Pricing .

And

Since this plugin can have multiple addons its better to create a simple centralized management system which can return proper role based price for each addon.

[2019-10-08 11:31] Saedades opened #110 "Invalid header on plugin activation"
Nothing else. Can't try it out.

[2019-10-15 06:31] southcapenet opened #111 "Some membership levels can't see prices"
Hi there

I am running your plugin on www.monumentcs.co.za

I have 5 membership levels, but only 3 of them can see the product prices when they log in.  Not sure if this is an issue with your plugin of with the membership pro plugin.

Please point me to where I can look for problems.

Yours,
Bruce

[2019-10-24 19:23] AgroAzulHnos commented on #108
I have the same error and I need a solution.

[2019-11-05 17:52] giacomocamerano opened #112 "Conflict with Woocommerce Product Add-ons plugin"
**Describe the bug**
When using Role Based Price in conjunction with the [Woocommerce Product Add-ons ](https://woocommerce.com/products/product-add-ons/) plugin, if I create a product add-on (with price adjustment), it will not be applied to an item on sale or an item that has a different role based price

**To Reproduce**
Steps to reproduce the behavior:
1. Create a product with Role Based Price

[2019-11-06 08:45] varunsridharan commented on #108
@theimaginaire @AgroAzulHnos sorry about the very delayed response. reg the issue. yes it has some issues with V3.x since i already started working on V4.0 soon all other issues will be fixed and updated soon.

[2019-11-06 08:47] varunsridharan commented on #112
@giacomocamerano We are facing some issues with the integration. and i am working on V4.0 due to that i am not able to provide proper support for V3.0 and the V4.0 already started and its under Alpha phase soon it will be in beta. once its done the integration will work.

[2019-11-06 08:49] giacomocamerano commented on #112
@varunsridharan glad to hear that (have subscribed to beta releases :) )
this bug aside, I love the plugin and it has always worked flawlessly. Keep up the great work 👍

[2019-11-06 09:16] #112 closed

[2019-12-03 22:55] bohannin opened #114 "Order entry from admin with Role Based Pricing"
Is it possible for the Role Based Price to be used for products when entering an order for a different user as an admin?  It seems the RBP overrides are not fired when adding items via the admin backend to an order

[2019-12-08 03:04] varunsridharan commented on #114
@bohannin this will be added in V4.0

[2019-12-11 12:45] stretchrt opened #115 "Displayed price different to product price"
I have been spending a lot of time trying to decipher an issue with product prices being displayed differently on the front end to the back end. I only have role based pricing set up for wholesale and trade customers. Regular customers who are not logged in, and admin, see the regular prices.

The issue occurs when a price is updated. The price on the front end shows the old price, and the new pri

[2019-12-12 15:59] andresvlaeminck opened #116 "Issue with do_shortcode"
So i'm writing an addon plug-in for RBP but when i try to use a shortcode to retrieve the selling price of a specific role it allways returns the base selling price.
Never the user specific price.
This is the troubling code:
`$products_Prices_B_all = floatval(do_shortcode("[wc_rbp id=".$cart_item['product_id']." role='administrator' price='product_selling_price']" ));`

Thanks for helping out!

[2019-12-27 07:34] cooladai opened #117 "Is it possible to add counter for certain product?"
My customers do pre-orders with me so when the inventory arrives, they will claim the products according to their initial pre-order list.

What I'm doing currently, is to set the price of already purchased products to "0" so this customer can place an order for delivery without paying for it. (Which is already paid for) Then compare the orders with all 0-priced products to the pre-order list manua

[2019-12-28 14:03] hariprasad2k0 opened #118 "Role Price not reflecting in cart and subtotal"
**Describe the bug**
A clear and concise description of what the bug is.
The role based price is not getting reflected in cart and sub total.

The price gets updated only if you visit the cart page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...' https://jandjp.in/abr-login/
2. Click on '....' User this login details :
username : 1111.demo
password : 123456789

then see this prod

[2020-02-02 19:28] Yanis705 commented on #114
When will this feature be available? I am having the same issue as @bohannin

[2020-02-08 21:18] allexarh opened #119 "make it work with LearnPress courses"
Hi,

I've tried your free plugin and works with the woocommerce products, as intended.

I am looking for a solution that works also with the LearnPress courses plugin (https://xcoaching.club/wp-admin/plugin-install.php?tab=plugin-information&plugin=learnpress&TB_iframe=true&width=600&height=550)
Is it possible for you to make it work as I need it?

Thanks,
Alex

[2020-02-14 07:04] allexarh commented on #119
Anyone?

[2020-03-13 10:34] gazzasma opened #120 "Price Suffix i.e Ex VAT on variable products"
The plugin removes the price suffix on variable products so lets say you have a standard product showing "£10.00 Inc VAT" the variable product would just show "£10.00" with the "Inc VAT" suffix missing.

[2020-03-17 00:37] eldredtaylor opened #121 "Certain roles cannnot get past the shopping cart. The place order section is grayed out you cannot click on place your order"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
1. Role Based Price For WooCommerce Settings
2. WC Price Editor View (For the product which has the

[2020-04-09 11:42] ashkanahmadiphp opened #122 "Display a custom message to certain users?"
Hi. I was wondering if it would be possible to display a custom message to certain users?

We sell a discount card on our website and when the user purchases it, their role automatically switches from Customer to Discount Card Holder. I was wondering if it would be possible to display something to the Customers like "Regular price: 20€ - Discount card holder price: 15€ - Get your card now to save

[2020-05-20 22:21] ibeppo993 opened #123 "problems with the price cache"
good evening,
how do I disable the product price cache? because it keeps an old price in cache and no longer updates the price.
Thanks

![Screenshot_1](https://user-images.githubusercontent.com/35732497/82503156-0767d180-9af9-11ea-920b-2cc32ef4ee9f.png)

[2020-06-08 23:05] kevin-higgins opened #125 "Check to see if role-based price exists?"
Hi, can I add a filter to my functions.php that will check to see whether a price exists for current user role, and if it does not, show a different role price? Thanks for your help! This is a very good plugin!

Something like this?
if(user_role="Canada_User" && "!Canada_Price"){
   display "USA_Price"
   currency = "USD"
}

[2020-06-16 16:50] ashkan-ahmadi opened #126 "How can the discount price change automatically on a given date?"
**Is your feature request related to a problem? Please describe.**
I can't set the discount price to change on a specific date. I have to remember to manually change.

**Describe the solution you'd like**
A field where we can set the final date of the discount.

**Describe alternatives you've considered**
Manually changing (very frustrating)

**Additional context**
None-

[2020-06-23 05:00] XofoSol opened #127 "The price change only works with the first role assigned"
When you assign many roles to an user, the special price only shows when the first role of the user is in the allowed roles.  If any other role is in them, the prices doesn't show.

I found that the issue is in the functions.php file, in the "wc_rbp_get_current_user" function.  You are using an array_shift, so, indeed, you are taking only the first role.

[2020-06-23 06:15] varunsridharan commented on #127
this will be fixed in V4.0

[2020-06-26 11:46] rafaelcalero opened #128 "Discount assigned to role doesn't work if you do not have a general discount on the product (no role)"
**Describe the bug**
Discount assigned to role doesn't work if you do not have a general discount on the product (no role).

**To Reproduce**
Steps to reproduce the behavior:
1. Create product without discount in woocommerce.
2. Assign regular price and sale price to a role.
3. The user with that role will get the discounted price, but will not receive the crossed out price indicating that it is o

[2020-08-13 20:34] itsmevky opened #129 "pdate the quantity the price will changed"
**Describe the bug**
Add custom price of any product when cart and then goto cart page and update the quantity the price will changed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
1. Role Based Price For WooCommerce Set

[2020-08-18 05:01] ESHNWLD opened #130 "Issue encountered after Wordpress upgrade"
**Describe the bug**
After my hosting vendor (GoDaddy) upgrade wordpress, my site encountered several issues and was down.  I was instructed to install a plugin called JQuery Migrate Helper.  When activating the Role Based pricing on my staging site I am getting the following message on the JQuery Migrate Helper:
1. https://qnm.a7e.myftpupload.com/wp-content/plugins/woocommerce-role-based-price/in

[2020-08-19 00:42] varunsridharan commented on #130
Thanks for sharing these info. will soon push an update.

[2020-08-19 06:42] christiancabrero opened #131 "Not compatible with YITH WooCommerce Product Add-ons Premium"
If YITH WooCommerce Product Add-ons Premium it's active, does not show tha final price correctly. (the complement add an extra price to final product price)

1. With YITH WooCommerce Product Add-ons Premium active (Electric Scooter 268,50 + Helmet 29,99 = **298,49€**)
2. Active Role Based Price For WooCommerce
3. Electric Scooter 268,50 + Helmet 29,99 = **268,50€**

Hope they can fix it at least i

[2020-08-19 12:24] worthiejones commented on #130
I have experienced the same issue. Please let me know when this update is available. Thanks!

[2020-08-25 11:15] sachinz1983 opened #132 "Role based pricing not working for external product"
Issue with external/affiliated product.
I have different prices for my external product from bus plugin. I m unable to change pricing as per user role for this product.  However I can see prices are displayed as expected as per role in shop page but when product is added in cart it shows external price instead of price mentioned at product level for that user.

**To Reproduce**
Steps to reproduce

[2020-09-22 18:00] ESHNWLD commented on #130
I am still getting this message.  When will there be an update that will address  the warnings:

This page generated the following warnings:
1.     https://hempfieldlabs.com/wp-content/plugins/woocommerce-role-based-price/includes/js/backend.js: jQuery.fn.load() is deprecated
2.     https://hempfieldlabs.com/wp-content/plugins/woocommerce-role-based-price/includes/js/backend.js: jQuery.fn.size() i

[2020-12-10 11:18] gazzasma opened #133 "Plugin not functioning since wordpress 5.6 update"
After updating to Wordpress 5.6 when editing a product page the role based price for woocommerce editor never loads just scrolling so I am unable to edit the role based pricing option for any product. I have checked on another website that has not been updated to wordpress 5.6 yet and the plugin functions as expected. I have since also upgraded that site to wordpress 5.6 and can confirm this break

[2021-01-20 21:37] rubenbeo opened #134 "Loading Bug report since wp 5.6 update"
**Describe the bug**
I can't change the price beacuse is always loading, there is no way to change the price

**Expected behavior**
Able/disable option
Change price by rola
Save the new changes

**Screenshots**
[https://alcalavinos.vv.si/wp-content/uploads/2021/01/Loading-bug.png](url)

**Software Versions**
1. WordPress : 5.6–es_ES
2. WooCommerce : 4.9.1
3. Role Based Price For WooCommerce : 3.3.

[2021-01-27 16:03] Ar-n commented on #134
Hi,
I had the same problem, i've resolved it with this official WP plugin : jQuery Migrate helper  https://wordpress.org/plugins/enable-jquery-migrate-helper/

<blockquote><img src="//s.w.org/favicon.ico?2" width="48" align="right"><div>WordPress.org</div><div><strong><a href="https://wordpress.org/plugins/enable-jquery-migrate-helper/">Enable jQuery Migrate Helper</a></strong></div><div>Get infor

[2021-01-27 16:04] Ar-n commented on #133
Hi,
I had the same problem, i've resolved it with this official WP plugin : jQuery Migrate helper https://wordpress.org/plugins/enable-jquery-migrate-helper/

<blockquote><img src="//s.w.org/favicon.ico?2" width="48" align="right"><div>WordPress.org</div><div><strong><a href="https://wordpress.org/plugins/enable-jquery-migrate-helper/">Enable jQuery Migrate Helper</a></strong></div><div>Get inform

[2021-01-27 20:17] sanjufer opened #135 "compatibility woocommerce 4.9.2"
Hi, is this plugin compatible with woocommerce 4.9.2?
Thanks!

[2021-02-05 15:41] #125 closed

[2021-02-05 16:07] kevin-higgins opened #136 "Feature request: Access to RBP when creating an order as administrator"
I create a lot of orders in the backend of WooCommerce on behalf of existing customers. But, when adding products, the default product price is used. It would be nice if RBP Pro used the role price of the selected user and populated the product price accordingly.

Please see screenshot for example. Many thanks for this plugin!
![Screen Shot 2021-02-05 at 9 50 05 am](https://user-images.githubuserc

[2021-03-07 11:35] davidelkobey opened #137 "update prices"
hey when i update price for existing products the role based price is go offline on the product and its means that if i update 100 products prices i need to go in to 100 product and make it enable

do u have any idea how to make it when i update prices from import product , the future will stay enable

[2021-03-08 08:22] yan30332 opened #138 "The price range issue"
**Describe the bug**
When disabled the lowest priced product, the product won't appear on the front end but the price range will still show the price that we disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a variable product.
2. Set the role-based price for each of them and save it all. (till here it works perfectly)
3. Untick the "enable" box for the lowest-priced product a

[2021-04-09 14:20] gazzasma commented on #133
Any resolution to this issue yet?

[2021-05-23 10:45] dvdmierden commented on #114
+1
We're really looking forward to this feature. Could you give us an update on the roadmap @varunsridharan ?

[2021-06-15 12:06] ankita1612 opened #139 "I can't see role based price in quickview"
I
![normal view](https://user-images.githubusercontent.com/29705595/122049628-43568e80-ce00-11eb-9351-84b37f6ca9b4.png)
![quickview](https://user-images.githubusercontent.com/29705595/122049634-45b8e880-ce00-11eb-9fb7-01c2a32eafb6.png)

 can see roleed based price in normal view of product but not in quickview

[2021-06-22 16:03] markburgessstl commented on #137
Same here.  I had to create a file and import it to reset the prices

ID,wcrbp_status
803,1

[2021-09-01 12:56] lalojunkyard opened #140 "Get all list roled price by product in rest api"
I'm not sure if it is possible now, if it is please help me with the procedure, I'm trying to get all the roled prices on my rest api call for products, and I can't get that info.

[2021-10-07 07:08] warudin opened #141 "WooCommerce_Role_Based_Price_Admin not found"
Since September 30 I am receiving a daily error notice from WordPress, which seem to originate from Role Based Price For WooCommerce (version 3.3.7). The site seems to function alright but it doesn't sit well with me.

[code]

[2021-10-23 10:59] andreydruz opened #142 "Error in sheduled task"
Error doing cron task:
wp-cron.php?doing_wp_cron=1634886169.3300480842590332031250)

Wordpress 5.8.1
Template: Luchiana-Child (1.2.1)
Plugin: Role Based Price For WooCommerce (3.3.7)
PHP 7.4.24

[code]